<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.atzuche.order.ownercost.mapper.OrderPriceAdjustmentMapper">
    <resultMap id="BaseResultMap" type="com.atzuche.order.ownercost.entity.OrderPriceAdjustmentEntity">
        <id column="ID" jdbcType="BIGINT" property="id"/>
        <result column="ORDER_NO" jdbcType="VARCHAR" property="orderNo"/>
        <result column="OWNER_MEMBER_CODE" jdbcType="VARCHAR" property="ownerMemberCode"/>
        <result column="RENTER_MEMBER_CODE" jdbcType="VARCHAR" property="renterMemberCode"/>
        <result column="AMT" jdbcType="INTEGER" property="amt"/>
        <result column="TYPE" jdbcType="INTEGER" property="type"/>
        <result column="REMARK" jdbcType="VARCHAR" property="remark"/>
        <result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="CREATOR" jdbcType="VARCHAR" property="creator"/>
        <result column="UPDATOR" jdbcType="VARCHAR" property="updator"/>
        <result column="UPDATE_TIME" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="IS_DELETE" jdbcType="INTEGER" property="isDelete"/>
    </resultMap>
    <sql id="columns">
	   O.ORDER_NO,O.RENTER_MEMBER_CODE,O.AMT,O.OWNER_MEMBER_CODE,O.REMARK,O.TYPE,O.ID
	 </sql>


    <insert id="insertSelective" keyColumn="ID" keyProperty="id" useGeneratedKeys="true"
            parameterType="com.atzuche.order.ownercost.entity.OrderPriceAdjustmentEntity">
        INSERT INTO ORDER_PRICE_ADJUSTMENT
        <include refid="insertSelectiveColumn"></include>
        <include refid="insertSelectiveValue"></include>
    </insert>

    <update id="updateByExampleSelectiveById"
            parameterType="com.atzuche.order.ownercost.entity.OrderPriceAdjustmentEntity">
        UPDATE ORDER_PRICE_ADJUSTMENT
        <include refid="updateByPrimaryKeySelectiveSql"></include>
        WHERE ID=#{id,jdbcType=BIGINT}
    </update>


    <select id="selectEnableObjByOrderNoAndMemberCode" resultMap="BaseResultMap"
            parameterType="com.atzuche.order.ownercost.entity.OrderPriceAdjustmentEntity">
        SELECT <include refid="columns"></include> FROM ORDER_PRICE_ADJUSTMENT O
        where is_delete=#{isDelete} and `type`=#{type} and order_no=#{orderNo}
        <if test="null != ownerMemberCode">
            and owner_Member_code=#{ownerMemberCode}
        </if>

        <if test="null != renterMemberCode">
            and renter_Member_code=#{renterMemberCode}
        </if>
        order by create_time desc limit 1
    </select>

    <select id="selectObjByOrderNoAndMemberCode" resultMap="BaseResultMap"
            parameterType="com.atzuche.order.ownercost.entity.OrderPriceAdjustmentEntity">
        SELECT <include refid="columns"></include> FROM ORDER_PRICE_ADJUSTMENT O
        where is_delete=#{isDelete} and `type`=#{type} and order_no=#{orderNo}
        <if test="null != ownerMemberCode">
            and owner_Member_code=#{ownerMemberCode}
        </if>

        <if test="null != renterMemberCode">
            and renter_Member_code=#{renterMemberCode}
        </if>
    </select>


    <sql id="insert_columns">
		ID,ORDER_NO,SUBSIDY_CODE,RECEIVE_CODE,AMT,TYPE,REMARK,CREATE_TIME,CREATOR,UPDATOR,UPDATE_TIME,IS_DELETE
	 </sql>
    <sql id="insert_values">
		#{id},#{orderNo},#{subsidyCode},#{receiveCode},#{amt},#{type},#{remark},#{createTime},#{creator},#{updator},#{updateTime},#{isDelete}
	 </sql>

    <sql id="insertSelectiveColumn">
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="null!=id">
                ID,
            </if>
            <if test="null!=orderNo">
                ORDER_NO,
            </if>
            <if test="null!=ownerMemberCode">
                OWNER_MEMBER_CODE,
            </if>
            <if test="null!=renterMemberCode">
                RENTER_MEMBER_CODE,
            </if>
            <if test="null!=amt">
                AMT,
            </if>
            <if test="null!=type">
                TYPE,
            </if>
            <if test="null!=remark">
                REMARK,
            </if>
            <if test="null!=createTime">
                CREATE_TIME,
            </if>
            <if test="null!=creator">
                CREATOR,
            </if>
            <if test="null!=updator">
                UPDATOR,
            </if>
            <if test="null!=updateTime">
                UPDATE_TIME,
            </if>
            <if test="null!=isDelete">
                IS_DELETE,
            </if>
        </trim>
    </sql>

    <sql id="insertSelectiveValue">
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="null!=id">
                #{id,jdbcType=BIGINT},
            </if>
            <if test="null!=orderNo">
                #{orderNo,jdbcType=VARCHAR},
            </if>
            <if test="null!=ownerMemberCode">
                #{ownerMemberCode,jdbcType=VARCHAR},
            </if>
            <if test="null!=renterMemberCode">
                #{renterMemberCode,jdbcType=VARCHAR},
            </if>
            <if test="null!=amt">
                #{amt,jdbcType=INTEGER},
            </if>
            <if test="null!=type">
                #{type,jdbcType=INTEGER},
            </if>
            <if test="null!=remark">
                #{remark,jdbcType=VARCHAR},
            </if>
            <if test="null!=createTime">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="null!=creator">
                #{creator,jdbcType=VARCHAR},
            </if>
            <if test="null!=updator">
                #{updator,jdbcType=VARCHAR},
            </if>
            <if test="null!=updateTime">
                #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="null!=isDelete">
                #{isDelete,jdbcType=INTEGER},
            </if>
        </trim>
    </sql>

    <sql id="updateByPrimaryKeySelectiveSql">
        <set>
            <if test="null!=orderNo">
                ORDER_NO=#{orderNo,jdbcType=VARCHAR},
            </if>
            <if test="null!=ownerMemberCode">
                OWNER_MEMBER_CODE=#{ownerMemberCode,jdbcType=VARCHAR},
            </if>
            <if test="null!=renterMemberCode">
                RENTER_MEMBER_CODE=#{renterMemberCode,jdbcType=VARCHAR},
            </if>
            <if test="null!=amt">
                AMT=#{amt,jdbcType=INTEGER},
            </if>
            <if test="null!=type">
                TYPE=#{type,jdbcType=INTEGER},
            </if>
            <if test="null!=remark">
                REMARK=#{remark,jdbcType=VARCHAR},
            </if>
            <if test="null!=createTime">
                CREATE_TIME=#{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="null!=creator">
                CREATOR=#{creator,jdbcType=VARCHAR},
            </if>
            <if test="null!=updator">
                UPDATOR=#{updator,jdbcType=VARCHAR},
            </if>
            <if test="null!=updateTime">
                UPDATE_TIME=#{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="null!=isDelete">
                IS_DELETE=#{isDelete,jdbcType=INTEGER},
            </if>
        </set>
    </sql>

    <sql id="where">
        <if test="null!=id">
            AND O.ID=#{id,jdbcType=BIGINT}
        </if>
        <if test="null!=orderNo">
            AND O.ORDER_NO=#{orderNo,jdbcType=VARCHAR}
        </if>
        <if test="null!=ownerMemberCode">
            AND O.OWNER_MEMBER_CODE=#{ownerMemberCode,jdbcType=VARCHAR}
        </if>
        <if test="null!=renterMemberCode">
            AND O.RENTER_MEMBER_CODE=#{renterMemberCode,jdbcType=VARCHAR}
        </if>
        <if test="null!=amt">
            AND O.AMT=#{amt,jdbcType=INTEGER}
        </if>
        <if test="null!=type">
            AND O.TYPE=#{type,jdbcType=INTEGER}
        </if>
        <if test="null!=remark">
            AND O.REMARK=#{remark,jdbcType=VARCHAR}
        </if>
        <if test="null!=createTime">
            AND O.CREATE_TIME=#{createTime,jdbcType=TIMESTAMP}
        </if>
        <if test="null!=creator">
            AND O.CREATOR=#{creator,jdbcType=VARCHAR}
        </if>
        <if test="null!=updator">
            AND O.UPDATOR=#{updator,jdbcType=VARCHAR}
        </if>
        <if test="null!=updateTime">
            AND O.UPDATE_TIME=#{updateTime,jdbcType=TIMESTAMP}
        </if>
        <if test="null!=isDelete">
            AND O.IS_DELETE=#{isDelete,jdbcType=INTEGER}
        </if>
    </sql>
</mapper>
