<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.atzuche.com.ownercost.mapper.OwnerOrderIncrementDetailMapper">

    <resultMap type="com.atzuche.order.ownercost.entity.OwnerOrderIncrementDetailEntity" id="BaseResultMap">
        <result property="id" column="id"/>
        <result property="orderNo" column="order_no"/>
        <result property="ownerOrderNo" column="owner_order_no"/>
        <result property="memNo" column="mem_no"/>
        <result property="costCode" column="cost_code"/>
        <result property="costDesc" column="cost_desc"/>
        <result property="unitPrice" column="unit_price"/>
        <result property="count" column="count"/>
        <result property="totalAmount" column="total_amount"/>
        <result property="createTime" column="create_time"/>
        <result property="createOp" column="create_op"/>
        <result property="updateTime" column="update_time"/>
        <result property="updateOp" column="update_op"/>
        <result property="isDelete" column="is_delete"/>
    </resultMap>


	<sql id="Base_Column_List">
	`id`, 	
	`order_no`, 	
	`owner_order_no`, 	
	`mem_no`, 	
	`cost_code`, 	
	`cost_desc`, 	
	`unit_price`, 	
	`count`, 	
	`total_amount`, 	
	`create_time`, 	
	`create_op`, 	
	`update_time`, 	
	`update_op`, 	
	`is_delete`	

	</sql>


	<select id="selectByPrimaryKey" resultMap="BaseResultMap">
		select <include refid="Base_Column_List" /> from owner_order_increment_detail where id = #{value}
	</select>

	<select id="selectALL" resultMap="BaseResultMap">
		select  <include refid="Base_Column_List" /> from owner_order_increment_detail com by id desc
	</select>

	 
	<insert id="insert" parameterType="com.atzuche.order.ownercost.entity.OwnerOrderIncrementDetailEntity" useGeneratedKeys="true" keyProperty="id">
		insert into owner_order_increment_detail
		(
				`order_no`,		
				`owner_order_no`,		
				`mem_no`,		
				`cost_code`,		
				`cost_desc`,		
				`unit_price`,		
				`count`,		
				`total_amount`,		
				`create_time`,		
				`create_op`,		
				`update_time`,		
				`update_op`,		
				`is_delete`		
			)
		values
		(
				#{orderNo}, 		
				#{ownerOrderNo}, 		
				#{memNo}, 		
				#{costCode}, 		
				#{costDesc}, 		
				#{unitPrice}, 		
				#{count}, 		
				#{totalAmount}, 		
				#{createTime}, 		
				#{createOp}, 		
				#{updateTime}, 		
				#{updateOp}, 		
				#{isDelete}		
			)
	</insert>
	
	<insert id="saveOwnerOrderIncrementDetail" parameterType="com.atzuche.order.ownercost.entity.OwnerOrderIncrementDetailEntity" useGeneratedKeys="true" keyProperty="id">
		insert into owner_order_increment_detail
        <trim prefix="(" suffix=")" suffixOverrides="," >
				<if test="orderNo != null">`order_no`, </if>
				<if test="ownerOrderNo != null">`owner_order_no`, </if>
				<if test="memNo != null">`mem_no`, </if>
				<if test="costCode != null">`cost_code`, </if>
				<if test="costDesc != null">`cost_desc`, </if>
				<if test="unitPrice != null">`unit_price`, </if>
				<if test="count != null">`count`, </if>
				<if test="totalAmount != null">`total_amount`, </if>
				<if test="createTime != null">`create_time`, </if>
				<if test="createOp != null">`create_op`, </if>
				<if test="updateTime != null">`update_time`, </if>
				<if test="updateOp != null">`update_op`, </if>
				<if test="isDelete != null">`is_delete` </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
				<if test="orderNo != null">#{orderNo},  </if>
				<if test="ownerOrderNo != null">#{ownerOrderNo},  </if>
				<if test="memNo != null">#{memNo},  </if>
				<if test="costCode != null">#{costCode},  </if>
				<if test="costDesc != null">#{costDesc},  </if>
				<if test="unitPrice != null">#{unitPrice},  </if>
				<if test="count != null">#{count},  </if>
				<if test="totalAmount != null">#{totalAmount},  </if>
				<if test="createTime != null">#{createTime},  </if>
				<if test="createOp != null">#{createOp},  </if>
				<if test="updateTime != null">#{updateTime},  </if>
				<if test="updateOp != null">#{updateOp},  </if>
				<if test="isDelete != null">#{isDelete} </if>
        </trim>
	</insert>
	
	 
	<update id="updateByPrimaryKeySelective" parameterType="com.atzuche.order.ownercost.entity.OwnerOrderIncrementDetailEntity">
		update owner_order_increment_detail 
		<set>
				<if test="orderNo != null">`order_no` = #{orderNo}, </if>
				<if test="ownerOrderNo != null">`owner_order_no` = #{ownerOrderNo}, </if>
				<if test="memNo != null">`mem_no` = #{memNo}, </if>
				<if test="costCode != null">`cost_code` = #{costCode}, </if>
				<if test="costDesc != null">`cost_desc` = #{costDesc}, </if>
				<if test="unitPrice != null">`unit_price` = #{unitPrice}, </if>
				<if test="count != null">`count` = #{count}, </if>
				<if test="totalAmount != null">`total_amount` = #{totalAmount}, </if>
				<if test="createTime != null">`create_time` = #{createTime}, </if>
				<if test="createOp != null">`create_op` = #{createOp}, </if>
				<if test="updateTime != null">`update_time` = #{updateTime}, </if>
				<if test="updateOp != null">`update_op` = #{updateOp}, </if>
				<if test="isDelete != null">`is_delete` = #{isDelete}</if>
			</set>
		where id = #{id}
	</update>
	
	<update id="updateByPrimaryKey" parameterType="com.atzuche.order.ownercost.entity.OwnerOrderIncrementDetailEntity">
		update owner_order_increment_detail 
		<set>
				`order_no` = #{orderNo}, 		
				`owner_order_no` = #{ownerOrderNo}, 		
				`mem_no` = #{memNo}, 		
				`cost_code` = #{costCode}, 		
				`cost_desc` = #{costDesc}, 		
				`unit_price` = #{unitPrice}, 		
				`count` = #{count}, 		
				`total_amount` = #{totalAmount}, 		
				`create_time` = #{createTime}, 		
				`create_op` = #{createOp}, 		
				`update_time` = #{updateTime}, 		
				`update_op` = #{updateOp}, 		
				`is_delete` = #{isDelete}		
	
		</set>
		where id = #{id}
	</update>
  	
  	<select id="listOwnerOrderIncrementDetail" resultMap="BaseResultMap">
		select <include refid="Base_Column_List" /> from owner_order_increment_detail where 
		order_no = #{orderNo}
		and owner_order_no = #{ownerOrderNo}
		and is_delete = 0
	</select>
  	
  	<insert id="saveOwnerOrderIncrementDetailBatch">
      INSERT INTO owner_order_increment_detail
		(
				`order_no`,		
				`owner_order_no`,		
				`mem_no`,		
				`cost_code`,		
				`cost_desc`,		
				`unit_price`,		
				`count`,		
				`total_amount`
			)
      VALUES
      <foreach collection="costList" item="cost" separator=",">
      (#{cost.orderNo},#{cost.ownerOrderNo},#{cost.memNo},#{cost.costCode},
      #{cost.costDesc},#{cost.unitPrice},#{cost.count},#{cost.totalAmount})
      </foreach>
     </insert>
  	
</mapper>