<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.atzuche.order.renterwz.mapper.RenterOrderWzStatusMapper">
	<sql id="select_column">
		id,order_no,car_plate_num,status,status_desc,illegal_query,management_mode,wz_handle_complete_time,create_time,create_op,update_time,update_op,is_delete
	</sql>

	<resultMap id = "selectColumnMap" type="com.atzuche.order.renterwz.entity.RenterOrderWzStatusEntity">
		<result property="id" column="id"/>
		<result property="orderNo" column="order_no"/>
		<result property="carPlateNum" column="car_plate_num"/>
		<result property="status" column="status"/>
		<result property="statusDesc" column="status_desc"/>
		<result property="managementMode" column="management_mode"/>
		<result property="wzHandleCompleteTime" column="wz_handle_complete_time"/>
		<result property="illegalQuery" column="illegal_query"/>
		<result property="createTime" column="create_time"/>
		<result property="createOp" column="create_op"/>
		<result property="updateTime" column="update_time"/>
		<result property="updateOp" column="update_op"/>
		<result property="isDelete" column="is_delete"/>
	</resultMap>

	<insert id="saveRenterOrderWzStatus" parameterType="com.atzuche.order.renterwz.entity.RenterOrderWzStatusEntity" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
		insert into renter_order_wz_status(
			<if test="orderNo != null">
				order_no,
			</if>
			<if test="carPlateNum != null">
				car_plate_num,
			</if>
			<if test="status != null">
				status,
			</if>
			<if test="statusDesc != null">
				status_desc,
			</if>
			<if test="managementMode != null">
				management_mode,
			</if>
			<if test="illegalQuery != null">
				illegal_query,
			</if>
			<if test="createOp != null">
				create_op,
			</if>
			<if test="updateTime != null">
				update_time,
			</if>
			<if test="updateOp != null">
				update_op,
			</if>
			<if test="isDelete != null">
				is_delete,
			</if>
			create_time
		) values (
			<if test="orderNo != null">
				#{orderNo},
			</if>
			<if test="carPlateNum != null">
				#{carPlateNum},
			</if>
			<if test="status != null">
				#{status},
			</if>
			<if test="statusDesc != null">
				#{statusDesc},
			</if>
			<if test="managementMode != null">
				#{managementMode},
			</if>
			<if test="illegalQuery != null">
				#{illegalQuery},
			</if>
			<if test="createOp != null">
				#{createOp},
			</if>
			<if test="updateTime != null">
				#{updateTime},
			</if>
			<if test="updateOp != null">
				#{updateOp},
			</if>
			<if test="isDelete != null">
				#{isDelete},
			</if>
			NOW())
	</insert>

	<update id="updateTransIllegalQuery">
		UPDATE renter_order_wz_status SET illegal_query=#{status} where order_no=#{orderNo} and car_plate_num = #{carNum}
	</update>

	<update id="updateIllegalHandle">
		UPDATE renter_order_wz_status
		SET management_mode = #{managementMode}
		where order_no = #{orderNo} and and car_plate_num = #{carNum}
	</update>

	<update id="updateTransIllegalStatus">
		UPDATE renter_order_wz_status
		SET wz_dispose_status=#{status},
		status_desc = #{statusDesc},
		<if test="status == 40">
			management_mode = 2,
		</if>
		<if test="status == 25">
			management_mode = 1,
		</if>
		<if test="status == 10">
			management_mode = 1,
		</if>
		wz_dispose_status_edit_time=now()
		where order_no=#{orderNo} and car_plate_num = #{carNum}
	</update>

	<select id="selectByOrderNo" parameterType="java.lang.Long" resultMap="selectColumnMap">
		select
		<include refid="select_column"/>
		from renter_order_wz_status
		where order_no = #{orderNo} and car_plate_num = #{carNum}
	</select>

	<update id="updateStatusByOrderNoAndCarNum">
		UPDATE renter_order_wz_status SET
		status = #{status},
		status_desc = #{statusDesc}
		WHERE order_no = #{orderNo} and car_plate_num = #{carNum}
	</update>

	<select id="getTransWzDisposeStatusByOrderNo" resultType="java.lang.Integer">
        select status from renter_order_wz_status where order_no = #{orderNo} and car_plate_num = #{plateNum} limit 1
    </select>

	<update id="updateTransWzDisposeStatus">
		UPDATE renter_order_wz_status SET
		`status` = #{status},
		<if test="status == 40">
			management_mode = 2,
		</if>
		<if test="status == 10">
			management_mode = 1,
		</if>
		<if test="status == 25">
			management_mode = 1,
		</if>
		wz_dispose_status_edit_time = now()
		WHERE order_no = #{orderNo} and car_plate_num = #{carNumber}
	</update>

	<select id="queryInfosByOrderNo" resultMap="selectColumnMap" parameterType="java.lang.String">
		SELECT * FROM `renter_order_wz_status` WHERE order_no = #{orderNo} and is_delete = 0
	</select>

</mapper>
