<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.atzuche.order.renterwz.mapper.RenterOrderWzStatusMapper">
	<sql id="select_column">
		id,order_no,car_plate_num,status,status_desc,illegal_query,management_mode,wz_handle_complete_time,create_time,create_op,update_time,update_op,is_delete
	</sql>

	<resultMap id = "selectColumnMap" type="com.atzuche.order.renterwz.entity.RenterOrderWzStatusEntity">
		<result property="id" column="id"/>
		<result property="orderNo" column="order_no"/>
		<result property="carPlateNum" column="car_plate_num"/>
		<result property="renterNo" column="renter_no"/>
		<result property="ownerNo" column="owner_no"/>
		<result property="carNo" column="car_no"/>
		<result property="status" column="status"/>
		<result property="statusDesc" column="status_desc"/>
		<result property="managementMode" column="management_mode"/>
		<result property="wzHandleCompleteTime" column="wz_handle_complete_time"/>
		<result property="illegalQuery" column="illegal_query"/>
		<result property="createTime" column="create_time"/>
		<result property="createOp" column="create_op"/>
		<result property="updateTime" column="update_time"/>
		<result property="updateOp" column="update_op"/>
		<result property="isDelete" column="is_delete"/>
	</resultMap>

	<insert id="saveRenterOrderWzStatus" parameterType="com.atzuche.order.renterwz.entity.RenterOrderWzStatusEntity" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
		insert into renter_order_wz_status(
			order_no,
			car_plate_num,
			renter_no,
			owner_no,
			car_no,
			status,
			status_desc,
			create_op,
			is_delete,
			create_time
		) values (
			#{orderNo},
			#{carPlateNum},
			#{renterNo},
			#{ownerNo},
			#{carNo},
			#{status},
			#{statusDesc},
			#{createOp},
			0,
			#{createTime})
	</insert>

	<update id="updateTransIllegalQuery">
		UPDATE renter_order_wz_status SET illegal_query=#{status} where order_no=#{orderNo} and car_plate_num = #{carNum} and is_delete = 0
	</update>

	<update id="updateIllegalHandle">
		UPDATE renter_order_wz_status
		SET management_mode = #{managementMode}
		where order_no = #{orderNo} and car_plate_num = #{carNum} and is_delete = 0
	</update>

	<update id="updateTransIllegalStatus">
		UPDATE renter_order_wz_status
		SET status=#{status},
		status_desc = #{statusDesc},
		<if test="status == 40">
			management_mode = 2,
		</if>
		<if test="status == 25">
			management_mode = 1,
		</if>
		<if test="status == 10">
			management_mode = 1,
		</if>
		wz_dispose_status_edit_time=now()
		where order_no=#{orderNo} and car_plate_num = #{carNum} and is_delete = 0
	</update>

	<select id="selectByOrderNo" parameterType="java.lang.Long" resultMap="selectColumnMap">
		select
		<include refid="select_column"/>
		from renter_order_wz_status
		where order_no = #{orderNo} and car_plate_num = #{carNum} and is_delete = 0
	</select>

	<update id="updateStatusByOrderNoAndCarNum">
		UPDATE renter_order_wz_status SET
		status = #{status},
		status_desc = #{statusDesc}
		WHERE order_no = #{orderNo} and car_plate_num = #{carNum} and is_delete = 0
	</update>

	<select id="getTransWzDisposeStatusByOrderNo" resultType="java.lang.Integer">
        select status from renter_order_wz_status where order_no = #{orderNo} and car_plate_num = #{plateNum} and is_delete = 0 limit 1
    </select>

	<update id="updateTransWzDisposeStatus">
		UPDATE renter_order_wz_status SET
		`status` = #{status},
		<if test="status == 40">
			management_mode = 2,
		</if>
		<if test="status == 10">
			management_mode = 1,
		</if>
		<if test="status == 25">
			management_mode = 1,
		</if>
		wz_dispose_status_edit_time = now()
		WHERE order_no = #{orderNo} and car_plate_num = #{carNumber} and is_delete = 0
	</update>

	<select id="queryInfosByOrderNo" resultMap="selectColumnMap" parameterType="java.lang.String">
		SELECT * FROM `renter_order_wz_status` WHERE order_no = #{orderNo} and is_delete = 0
	</select>

	<update id="deleteInfoByOrderNo">
		UPDATE renter_order_wz_status SET
		is_delete = 1,
		update_op = #{operator},
		update_time = NOW()
		where order_no = #{orderNo} and is_delete = 0
	</update>

	<select id="queryIllegalOrderListByMemNo" resultMap="selectColumnMap">
		select * from renter_order_wz_status where (owner_no = #{memNo} OR renter_no = #{memNo}) AND illegal_query = 4 AND status in (5,10,25,26,40,50,51,52) and is_delete = 0
	</select>
	<select id="getOrderInfoByOrderNo" resultMap="selectColumnMap">
		select * from renter_order_wz_status where order_no = #{orderNo} and is_delete = 0 order by id desc
	</select>


	<update id="updateOrderWzStatus">
		UPDATE renter_order_wz_status SET
		<if test="managementMode != null">
			management_mode = #{managementMode},
		</if>
		<if test="statusDesc != null">
			`status_desc` = #{statusDesc},
		</if>
		<if test="wzRemarks != null">
			wz_remarks = #{wzRemarks},
		</if>
		<if test="updateOp != null">
			update_op = #{updateOp},
		</if>
		<if test="status != null">
			status = #{status},
			wz_dispose_status_edit_time = now(),
		</if>
		<if test="wzHandleCompleteTime != null">
			wz_handle_complete_time = #{wzHandleCompleteTime},
		</if>
		<if test="wzRenterLastTime != null">
			wz_renter_last_time = #{wzRenterLastTime},
		</if>
		<if test="wzPlatformLastTime != null">
			wz_platform_last_time = #{wzPlatformLastTime},
		</if>

		WHERE order_no = #{orderNo} and car_plate_num = #{carNumber} and is_delete = 0
	</update>
    <select id="queryIllegalOrderList" parameterType="com.atzuche.order.commons.vo.req.ViolationReqVO" resultType="com.atzuche.order.commons.vo.res.ViolationResVO">
        SELECT w.id,w.order_no as orderNo,f.rent_time as rentTime, IFNULL(p.id,0) as wzProcessedProof,
        f.revert_time as revertTime, w.car_plate_num as plateNum,
        f.frame_no as frameNo,f.engine_num as engineNo,
        f.city_name as rentCity,w.status as wzStatus,
        w.wz_handle_complete_time as wzStatusChangeTime,
        w.create_time as enterWzManageTime, f.cities as onlineCity
        FROM renter_order_wz_status w
        LEFT JOIN renter_order_wz_finished_todo f on w.order_no = f.order_no and w.car_plate_num = f.car_plate_num
        LEFT JOIN renter_order_wz_illegal_photo p on w.order_no = p.order_no and w.car_plate_num = p.car_plate_num
        <where>
            <if test="orderNo != null and orderNo != ''">
                and w.order_no = #{orderNo}
            </if>
            <if test="useCarCity != null and useCarCity != ''">
                and f.city_name = #{useCarCity}
            </if>
            <if test="carNo != null and carNo != ''">
                and w.car_plate_num = #{carNo}
            </if>
            <if test="mixViolationManagerDate != null and mixViolationManagerDate != ''">
                and w.wz_handle_complete_time >= #{mixViolationManagerDate}
            </if>
            <if test="maxViolationManagerDate != null and maxViolationManagerDate != ''">
                and w.wz_handle_complete_time &lt;= #{maxViolationManagerDate}
            </if>
            <if test="violationInfo != null and violationInfo != ''">
                and w.illegal_query = #{violationInfo}
            </if>
            <if test="violationStatus != null and violationStatus != ''">
                and w.status = #{violationStatus}
            </if>
            <if test="getCarDate != null and getCarDate != ''">
                and  DATE_FORMAT(f.rent_time,'%Y-%m-%d') = #{getCarDate}
            </if>
            <if test="returnCarDate != null and returnCarDate != ''">
                and  DATE_FORMAT(f.revert_time,'%Y-%m-%d') = #{returnCarDate}
            </if>
            <if test="violationPayStatus != null and violationPayStatus != '0'">
                and p.id is null
            </if>
            <if test="violationPayStatus != null and violationPayStatus != '1'">
                and p.id is not null
            </if>
            and w.is_delete = 0
        </where>
    </select>

</mapper>
