<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.atzuche.order.renterwz.mapper.WzCostLogMapper">
	<sql id="select_column">
		id,order_no,cost_code,content,operator,create_time
	</sql>

	<resultMap id = "selectColumnMap" type="com.atzuche.order.renterwz.entity.WzCostLogEntity">
		<result property="id" column="id"/>
		<result property="orderNo" column="order_no"/>
		<result property="costCode" column="cost_code"/>
		<result property="content" column="content"/>
		<result property="operator" column="operator"/>
		<result property="createTime" column="create_time"/>
	</resultMap>

	<insert id="saveWzCostLog" parameterType="com.atzuche.order.renterwz.entity.WzCostLogEntity" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
		insert into wz_cost_log(
			order_no,
			cost_code,
			content,
			operator,
			create_time
		) values (
			#{orderNo},
			#{costCode},
			#{content},
			#{operator},
			#{createTime})
	</insert>

	<select id="queryWzCostLogById" resultType="com.atzuche.order.renterwz.entity.WzCostLogEntity">
		select <include refid="select_column" />
		from wz_cost_log
		where id = #{id}
	</select>

	<select id="queryList" resultType="com.atzuche.order.renterwz.entity.WzCostLogEntity">
		select <include refid="select_column" />
		from wz_cost_log
	</select>

</mapper>
