<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.atzuche.com.renterwz.mapper.WzQueryDayConfMapper">
	<sql id="select_column">
		id,city_code,illegal_query_day,trans_process_day
	</sql>

	<resultMap id = "selectColumnMap" type="com.atzuche.order.renterwz.entity.WzQueryDayConfEntity">
		<result property="id" column="id"/>
		<result property="cityCode" column="city_code"/>
		<result property="illegalQueryDay" column="illegal_query_day"/>
		<result property="transProcessDay" column="trans_process_day"/>
	</resultMap>

	<insert id="saveWzQueryDayConf" parameterType="com.atzuche.order.renterwz.entity.WzQueryDayConfEntity" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
		insert into wz_query_day_conf(
			<if test="cityCode != null">
				city_code,
			</if>
			<if test="illegalQueryDay != null">
				illegal_query_day,
			</if>
			<if test="transProcessDay != null">
				trans_process_day,
			</if>
			create_time
		) values (
			<if test="cityCode != null">
				#{cityCode},
			</if>
			<if test="illegalQueryDay != null">
				#{illegalQueryDay},
			</if>
			<if test="transProcessDay != null">
				#{transProcessDay},
			</if>
			NOW())
	</insert>

	<select id="queryWzQueryDayConfById" resultType="com.atzuche.order.renterwz.entity.WzQueryDayConfEntity">
		select <include refid="select_column" />
		from wz_query_day_conf
		where id = #{id}
	</select>

	<select id="queryList" resultType="com.atzuche.order.renterwz.entity.WzQueryDayConfEntity">
		select <include refid="select_column" />
		from wz_query_day_conf
	</select>

	 <update id="updateWzQueryDayConf" parameterType="com.atzuche.order.renterwz.entity.WzQueryDayConfEntity">
		update wz_query_day_conf set
		<if test="cityCode != null">
			city_code = #{cityCode},
		</if>
		<if test="illegalQueryDay != null">
			illegal_query_day = #{illegalQueryDay},
		</if>
		<if test="transProcessDay != null">
			trans_process_day = #{transProcessDay},
		</if>
		update_time = NOW()
		where id = #{id}
	</update>

	 <update id="deleteWzQueryDayConfById" parameterType="java.lang.Long">
		update wz_query_day_conf set
		is_delete = 1,
		update_time = NOW()
		where id = #{id}
	</update>

</mapper>
