<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.atzuche.config.server.mapper.master.CarGpsRuleMapper">
    <resultMap id="base" type="com.atzuche.config.common.entity.CarGpsRuleEntity">
        <id property="id" column="id"/>
         <result column="start_date" property="startDate"></result>
         <result column="serial_number" property="serialNumber"></result>
         <result column="days" property="days"></result>
         <result column="fees" property="fees"></result>
         <result column="rule_status" property="ruleStatus"></result>
    </resultMap>
    <select id="findAll" resultMap="base">
        SELECT
        id,
        start_date
        serial_number,
        days,
        fees,rule_status
        FROM car_gps_rule
    </select>
</mapper>