<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.atzuche.config.server.mapper.master.CityMapper">
    <resultMap id="base" type="com.atzuche.config.common.entity.CityEntity">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="code" jdbcType="INTEGER" property="code"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="detail" jdbcType="VARCHAR" property="detail"/>
        <result column="lat" jdbcType="VARCHAR" property="lat"/>
        <result column="lon" jdbcType="VARCHAR" property="lon"/>
        <result column="telPrefix" jdbcType="VARCHAR" property="telprefix"/>
        <result column="platePrefix" jdbcType="VARCHAR" property="plateprefix"/>
        <result column="type" jdbcType="CHAR" property="type"/>
        <result column="isSupport" jdbcType="CHAR" property="issupport"/>
        <result column="is_open" jdbcType="CHAR" property="isOpen"/>
        <result column="create_date" jdbcType="TIMESTAMP" property="createDate"/>
        <result column="calculate_flag" jdbcType="INTEGER" property="calculateFlag"/>
        <result column="trusteeship_no_hour" jdbcType="INTEGER" property="trusteeshipNoHour"/>
        <result column="trusteeship_hour" jdbcType="INTEGER" property="trusteeshipHour"/>
        <result column="srv_get_cost" jdbcType="INTEGER" property="srvGetCost"/>
        <result column="srv_return_cost" jdbcType="INTEGER" property="srvReturnCost"/>
        <result column="order_time_set" jdbcType="VARCHAR" property="orderTimeSet"/>
        <result column="rent_time_set" jdbcType="VARCHAR" property="rentTimeSet"/>
        <result column="min_price" jdbcType="INTEGER" property="minPrice"/>
        <result column="float_percent" jdbcType="INTEGER" property="floatPercent"/>
        <result column="fall_percent" jdbcType="INTEGER" property="fallPercent"/>
        <result column="revert_st_interval" jdbcType="INTEGER" property="revertStInterval"/>
        <result column="revert_service_max" jdbcType="INTEGER" property="revertServiceMax"/>
        <result column="rent_st_interval" jdbcType="INTEGER" property="rentStInterval"/>
        <result column="rent_service_max" jdbcType="INTEGER" property="rentServiceMax"/>
        <result column="bg_url" jdbcType="VARCHAR" property="bgUrl"/>
        <result column="description" jdbcType="VARCHAR" property="description"/>
        <result column="support_one_key" jdbcType="TINYINT" property="supportOneKey"/>
        <result column="income_float_percent" jdbcType="INTEGER" property="incomeFloatPercent"/>
        <result column="income_fall_percent" jdbcType="INTEGER" property="incomeFallPercent"/>
        <result column="allow_transaction" jdbcType="BIT" property="allowTransaction"/>
        <result column="is_dispatching" jdbcType="INTEGER" property="isDispatching"/>
        <result column="dispatching_begin_time" jdbcType="INTEGER" property="dispatchingBeginTime"/>
        <result column="dispatching_end_time" jdbcType="INTEGER" property="dispatchingEndTime"/>
        <result column="min_subsidy_per_day" jdbcType="INTEGER" property="minSubsidyPerDay"/>
        <result column="max_subsidy_per_day" jdbcType="INTEGER" property="maxSubsidyPerDay"/>
        <result column="max_subsidy_per_order" jdbcType="INTEGER" property="maxSubsidyPerOrder"/>
        <result column="is_cpic_coupon" jdbcType="INTEGER" property="isCpicCoupon"/>
        <result column="before_time" jdbcType="INTEGER" property="beforeTime"/>
        <result column="cpic_before_time_work" jdbcType="INTEGER" property="cpicBeforeTimeWork"/>
        <result column="cpic_before_time_free" jdbcType="INTEGER" property="cpicBeforeTimeFree"/>
        <result column="address_range_version" jdbcType="INTEGER" property="addressRangeVersion"/>
        <result column="address_range_description" jdbcType="VARCHAR" property="addressRangeDescription"/>
        <result column="is_quick_pay" jdbcType="INTEGER" property="isQuickPay"/>
        <result column="full_letter" jdbcType="VARCHAR" property="fullLetter"/>
        <result column="is_hot_city" jdbcType="BIT" property="isHotCity"/>
        <result column="center_address" jdbcType="VARCHAR" property="centerAddress"/>
        <result column="is_limit" jdbcType="BIT" property="isLimit"/>
        <result column="first_letter" jdbcType="VARCHAR" property="firstLetter"/>
        <result column="is_distribute" jdbcType="INTEGER" property="isDistribute"/>
        <result column="level" jdbcType="INTEGER" property="level"/>
        <result column="peak_time_slot" jdbcType="VARCHAR" property="peakTimeSlot"/>
        <result column="before_trans_time_span" jdbcType="INTEGER" property="beforeTransTimeSpan"/>
        <result column="unservice_begin_time" jdbcType="INTEGER" property="unserviceBeginTime"/>
        <result column="unservice_end_time" jdbcType="INTEGER" property="unserviceEndTime"/>
        <result column="delivery_service_cost" jdbcType="INTEGER" property="deliveryServiceCost"/>
        <result column="package_delivery_service_cost" jdbcType="INTEGER" property="packageDeliveryServiceCost"/>
        <result column="peak_starts_with" jdbcType="VARCHAR" property="peakStartsWith"/>
        <result column="peak_not_starts_with" jdbcType="VARCHAR" property="peakNotStartsWith"/>
        <result column="is_free_package" jdbcType="INTEGER" property="isFreePackage"/>
        <result column="city_center_address" jdbcType="VARCHAR" property="cityCenterAddress"/>
        <result column="is_ofd_scooter" jdbcType="TINYINT" property="isOfdScooter"/>
        <result column="address_range" jdbcType="LONGVARCHAR" property="addressRange"/>
        <result column="free_address_range" jdbcType="LONGVARCHAR" property="freeAddressRange"/>
        <result column="ota_address_range" jdbcType="LONGVARCHAR" property="otaAddressRange"/>
    </resultMap>
    <select id="findAll" resultMap="base">
        SELECT
        id, code, name, detail, lat, lon, telPrefix, platePrefix, type, isSupport, is_open,
        create_date, calculate_flag, trusteeship_no_hour, trusteeship_hour, srv_get_cost,
        srv_return_cost, order_time_set, rent_time_set, min_price, float_percent, fall_percent,
        revert_st_interval, revert_service_max, rent_st_interval, rent_service_max, bg_url,
        description, support_one_key, create_time, update_time, creator, updator, del_flag,
        income_float_percent, income_fall_percent, allow_transaction, is_dispatching, dispatching_begin_time,
        dispatching_end_time, min_subsidy_per_day, max_subsidy_per_day, max_subsidy_per_order,
        is_cpic_coupon, before_time, cpic_before_time_work, cpic_before_time_free, address_range_version,
        address_range_description, is_quick_pay, full_letter, is_hot_city, center_address,
        is_limit, first_letter, is_distribute, level, peak_time_slot, before_trans_time_span,
        unservice_begin_time, unservice_end_time, delivery_service_cost, package_delivery_service_cost,
        peak_starts_with, peak_not_starts_with, is_free_package, city_center_address, is_ofd_scooter,
        address_range, free_address_range, ota_address_range
        FROM city
    </select>
</mapper>