<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.atzuche.config.server.mapper.master.InsuranceConfigMapper">
    <resultMap id="base" type="com.atzuche.config.common.entity.InsuranceConfigEntity">
        <id property="id" column="id"/>
         <result column="guid_price_begin" property="guidPriceBegin"></result>
         <result column="guid_price_end" property="guidPriceEnd"></result>
         <result column="insurance_value" property="insuranceValue"></result>
         <result column="super_support_risk" property="superSupportRisk"></result>
    </resultMap>
    <select id="findAll" resultMap="base">
        SELECT
        id,
        guid_price_begin
        guid_price_end,
        insurance_value,
        super_support_risk
        FROM insurance_config
    </select>
</mapper>