<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.atzuche.config.server.mapper.master.SysConstantMapper">
    <resultMap id="base" type="com.atzuche.config.common.entity.SysContantEntity">
        <id property="id" column="id"/>
         <result column="c_code" property="code"></result>
         <result column="c_value" property="value"></result>
         <result column="c_name" property="name"></result>
    </resultMap>
    <select id="findAll" resultMap="base">
        SELECT
        id,
        c_code,c_value,c_name
        FROM sys_constant
    </select>
</mapper>