<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.atzuche.order.delivery.mapper.OwnerHandoverCarInfoMapper">

    <resultMap type="com.atzuche.order.delivery.entity.OwnerHandoverCarInfoEntity" id="BaseResultMap">
        <result property="id" column="id"/>
        <result property="orderNo" column="order_no"/>
        <result property="ownerOrderNo" column="owner_order_no"/>
        <result property="type" column="type"/>
        <result property="oilNum" column="oil_num"/>
        <result property="mileageNum" column="mileage_num"/>
        <result property="delayTime" column="delay_time"/>
        <result property="aheadTime" column="ahead_time"/>
        <result property="realReturnAddr" column="real_return_addr"/>
        <result property="realReturnAddrLon" column="real_return_addr_lon"/>
        <result property="realReturnAddrLat" column="real_return_addr_lat"/>
        <result property="realReturnTime" column="real_return_time"/>
        <result property="realReturnUserName" column="real_return_user_name"/>
        <result property="realReturnUserPhone" column="real_return_user_phone"/>
        <result property="realReturnMemNo" column="real_return_mem_no"/>
        <result property="realGetUserName" column="real_get_user_name"/>
        <result property="realGetUserPhone" column="real_get_user_phone"/>
        <result property="realGetMemNo" column="real_get_mem_no"/>
        <result property="imageUrl" column="image_url"/>
        <result property="version" column="version"/>
        <result property="createTime" column="create_time"/>
        <result property="createOp" column="create_op"/>
        <result property="updateTime" column="update_time"/>
        <result property="updateOp" column="update_op"/>
        <result property="isDelete" column="is_delete"/>
        <result property="msgId" column="msg_id"/>
    </resultMap>


	<sql id="Base_Column_List">
	`id`, 	
	`order_no`, 	
	`owner_order_no`, 	
	`type`, 	
	`oil_num`, 	
	`mileage_num`, 	
	`delay_time`, 	
	`ahead_time`, 	
	`real_return_addr`, 	
	`real_return_addr_lon`, 	
	`real_return_addr_lat`, 	
	`real_return_time`, 	
	`real_return_user_name`, 	
	`real_return_user_phone`, 	
	`real_return_mem_no`, 	
	`real_get_user_name`, 	
	`real_get_user_phone`, 	
	`real_get_mem_no`, 	
	`image_url`, 	
	`version`, 	
	`create_time`, 	
	`create_op`, 	
	`update_time`, 	
	`update_op`, 	
	`is_delete`, 	
	`msg_id`	

	</sql>


	<select id="selectByPrimaryKey" resultMap="BaseResultMap">
		select <include refid="Base_Column_List" /> from owner_handover_car_info where id = #{value}
	</select>

	<insert id="insert" parameterType="com.atzuche.order.delivery.entity.OwnerHandoverCarInfoEntity" useGeneratedKeys="true" keyProperty="id">
		insert into owner_handover_car_info
		(
				`order_no`,		
				`owner_order_no`,		
				`type`,		
				`oil_num`,		
				`mileage_num`,		
				`delay_time`,		
				`ahead_time`,		
				`real_return_addr`,		
				`real_return_addr_lon`,		
				`real_return_addr_lat`,		
				`real_return_time`,		
				`real_return_user_name`,		
				`real_return_user_phone`,		
				`real_return_mem_no`,		
				`real_get_user_name`,		
				`real_get_user_phone`,		
				`real_get_mem_no`,		
				`image_url`,		
				`version`,		
				`create_time`,		
				`create_op`,		
				`update_time`,		
				`update_op`,		
				`is_delete`,		
				`msg_id`		
			)
		values
		(
				#{orderNo}, 		
				#{ownerOrderNo}, 		
				#{type}, 		
				#{oilNum}, 		
				#{mileageNum}, 		
				#{delayTime}, 		
				#{aheadTime}, 		
				#{realReturnAddr}, 		
				#{realReturnAddrLon}, 		
				#{realReturnAddrLat}, 		
				#{realReturnTime}, 		
				#{realReturnUserName}, 		
				#{realReturnUserPhone}, 		
				#{realReturnMemNo}, 		
				#{realGetUserName}, 		
				#{realGetUserPhone}, 		
				#{realGetMemNo}, 		
				#{imageUrl}, 		
				#{version}, 		
				#{createTime}, 		
				#{createOp}, 		
				#{updateTime}, 		
				#{updateOp}, 		
				#{isDelete}, 		
				#{msgId}		
			)
	</insert>
	
	<insert id="insertSelective" parameterType="com.atzuche.order.delivery.entity.OwnerHandoverCarInfoEntity" useGeneratedKeys="true" keyProperty="id">
		insert into owner_handover_car_info
        <trim prefix="(" suffix=")" suffixOverrides="," >
				<if test="orderNo != null">`order_no`, </if>
				<if test="ownerOrderNo != null">`owner_order_no`, </if>
				<if test="type != null">`type`, </if>
				<if test="oilNum != null">`oil_num`, </if>
				<if test="mileageNum != null">`mileage_num`, </if>
				<if test="delayTime != null">`delay_time`, </if>
				<if test="aheadTime != null">`ahead_time`, </if>
				<if test="realReturnAddr != null">`real_return_addr`, </if>
				<if test="realReturnAddrLon != null">`real_return_addr_lon`, </if>
				<if test="realReturnAddrLat != null">`real_return_addr_lat`, </if>
				<if test="realReturnTime != null">`real_return_time`, </if>
				<if test="realReturnUserName != null">`real_return_user_name`, </if>
				<if test="realReturnUserPhone != null">`real_return_user_phone`, </if>
				<if test="realReturnMemNo != null">`real_return_mem_no`, </if>
				<if test="realGetUserName != null">`real_get_user_name`, </if>
				<if test="realGetUserPhone != null">`real_get_user_phone`, </if>
				<if test="realGetMemNo != null">`real_get_mem_no`, </if>
				<if test="imageUrl != null">`image_url`, </if>
				<if test="version != null">`version`, </if>
				<if test="createTime != null">`create_time`, </if>
				<if test="createOp != null">`create_op`, </if>
				<if test="updateTime != null">`update_time`, </if>
				<if test="updateOp != null">`update_op`, </if>
				<if test="isDelete != null">`is_delete`, </if>
				<if test="msgId != null">`msg_id` </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
				<if test="orderNo != null">#{orderNo},  </if>
				<if test="ownerOrderNo != null">#{ownerOrderNo},  </if>
				<if test="type != null">#{type},  </if>
				<if test="oilNum != null">#{oilNum},  </if>
				<if test="mileageNum != null">#{mileageNum},  </if>
				<if test="delayTime != null">#{delayTime},  </if>
				<if test="aheadTime != null">#{aheadTime},  </if>
				<if test="realReturnAddr != null">#{realReturnAddr},  </if>
				<if test="realReturnAddrLon != null">#{realReturnAddrLon},  </if>
				<if test="realReturnAddrLat != null">#{realReturnAddrLat},  </if>
				<if test="realReturnTime != null">#{realReturnTime},  </if>
				<if test="realReturnUserName != null">#{realReturnUserName},  </if>
				<if test="realReturnUserPhone != null">#{realReturnUserPhone},  </if>
				<if test="realReturnMemNo != null">#{realReturnMemNo},  </if>
				<if test="realGetUserName != null">#{realGetUserName},  </if>
				<if test="realGetUserPhone != null">#{realGetUserPhone},  </if>
				<if test="realGetMemNo != null">#{realGetMemNo},  </if>
				<if test="imageUrl != null">#{imageUrl},  </if>
				<if test="version != null">#{version},  </if>
				<if test="createTime != null">#{createTime},  </if>
				<if test="createOp != null">#{createOp},  </if>
				<if test="updateTime != null">#{updateTime},  </if>
				<if test="updateOp != null">#{updateOp},  </if>
				<if test="isDelete != null">#{isDelete},  </if>
				<if test="msgId != null">#{msgId} </if>
        </trim>
	</insert>
	
	 
	<update id="updateByPrimaryKeySelective" parameterType="com.atzuche.order.delivery.entity.OwnerHandoverCarInfoEntity">
		update owner_handover_car_info 
		<set>
				<if test="orderNo != null">`order_no` = #{orderNo}, </if>
				<if test="ownerOrderNo != null">`owner_order_no` = #{ownerOrderNo}, </if>
				<if test="type != null">`type` = #{type}, </if>
				<if test="oilNum != null">`oil_num` = #{oilNum}, </if>
				<if test="mileageNum != null">`mileage_num` = #{mileageNum}, </if>
				<if test="delayTime != null">`delay_time` = #{delayTime}, </if>
				<if test="aheadTime != null">`ahead_time` = #{aheadTime}, </if>
				<if test="realReturnAddr != null">`real_return_addr` = #{realReturnAddr}, </if>
				<if test="realReturnAddrLon != null">`real_return_addr_lon` = #{realReturnAddrLon}, </if>
				<if test="realReturnAddrLat != null">`real_return_addr_lat` = #{realReturnAddrLat}, </if>
				<if test="realReturnTime != null">`real_return_time` = #{realReturnTime}, </if>
				<if test="realReturnUserName != null">`real_return_user_name` = #{realReturnUserName}, </if>
				<if test="realReturnUserPhone != null">`real_return_user_phone` = #{realReturnUserPhone}, </if>
				<if test="realReturnMemNo != null">`real_return_mem_no` = #{realReturnMemNo}, </if>
				<if test="realGetUserName != null">`real_get_user_name` = #{realGetUserName}, </if>
				<if test="realGetUserPhone != null">`real_get_user_phone` = #{realGetUserPhone}, </if>
				<if test="realGetMemNo != null">`real_get_mem_no` = #{realGetMemNo}, </if>
				<if test="imageUrl != null">`image_url` = #{imageUrl}, </if>
				<if test="version != null">`version` = #{version}, </if>
				<if test="createTime != null">`create_time` = #{createTime}, </if>
				<if test="createOp != null">`create_op` = #{createOp}, </if>
				<if test="updateTime != null">`update_time` = #{updateTime}, </if>
				<if test="updateOp != null">`update_op` = #{updateOp}, </if>
				<if test="isDelete != null">`is_delete` = #{isDelete}, </if>
				<if test="msgId != null">`msg_id` = #{msgId}</if>
			</set>
		where id = #{id}
	</update>
	
	<update id="updateByPrimaryKey" parameterType="com.atzuche.order.delivery.entity.OwnerHandoverCarInfoEntity">
		update owner_handover_car_info 
		<set>
				`order_no` = #{orderNo}, 		
				`owner_order_no` = #{ownerOrderNo}, 		
				`type` = #{type}, 		
				`oil_num` = #{oilNum}, 		
				`mileage_num` = #{mileageNum}, 		
				`delay_time` = #{delayTime}, 		
				`ahead_time` = #{aheadTime}, 		
				`real_return_addr` = #{realReturnAddr}, 		
				`real_return_addr_lon` = #{realReturnAddrLon}, 		
				`real_return_addr_lat` = #{realReturnAddrLat}, 		
				`real_return_time` = #{realReturnTime}, 		
				`real_return_user_name` = #{realReturnUserName}, 		
				`real_return_user_phone` = #{realReturnUserPhone}, 		
				`real_return_mem_no` = #{realReturnMemNo}, 		
				`real_get_user_name` = #{realGetUserName}, 		
				`real_get_user_phone` = #{realGetUserPhone}, 		
				`real_get_mem_no` = #{realGetMemNo}, 		
				`image_url` = #{imageUrl}, 		
				`version` = #{version}, 		
				`create_time` = #{createTime}, 		
				`create_op` = #{createOp}, 		
				`update_time` = #{updateTime}, 		
				`update_op` = #{updateOp}, 		
				`is_delete` = #{isDelete}, 		
				`msg_id` = #{msgId}		
	
		</set>
		where id = #{id}
	</update>

	<select id="queryObjectByMsgId" parameterType="string" resultType="java.lang.String">
		select msg_id from owner_handover_car_info
		where msg_id = #{msgId} and is_delete = 0
	</select>

	<select id="selectByOwnerOrderNo" resultMap="BaseResultMap">
		select <include refid="Base_Column_List"/> from owner_handover_car_info where
		owner_order_no = #{ownerOrderNo} and type = #{type} and is_delete = 0
	</select>
	<select id="selectObjectByOwnerOrderNo" resultMap="BaseResultMap">
		select oil_num,mileage_num,delay_time,ahead_time,type
		from owner_handover_car_info where
		owner_order_no = #{ownerOrderNo} and is_delete = 0
	</select>

	<select id="selectOwnerHandovertByOwnerOrderNo" resultMap="BaseResultMap">
		select <include refid="Base_Column_List"/>
		from owner_handover_car_info where
		owner_order_no = #{ownerOrderNo} and is_delete = 0
	</select>

	<select id="selectObjectByOrderNo" resultMap="BaseResultMap">
		select <include refid="Base_Column_List"/> from owner_handover_car_info where
		order_no = #{orderNo} and type = ${type} and is_delete = 0
		order by id desc limit 1
	</select>

	<select id="selectOwnerByOrderNo" resultMap="BaseResultMap">
		select <include refid="Base_Column_List"/> from owner_handover_car_info where
		order_no = #{orderNo} and is_delete = 0
	</select>

    <select id="selectByOwnerOrderNoAndType" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from owner_handover_car_info
        where owner_order_no=#{ownerOrderNo} and `type`=#{type}
        and is_delete = 0 limit 1
    </select>


</mapper>