<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.atzuche.order.photo.mapper.OrderPhotoMapper">
	
	<select id="queryGetSrvCarList" resultType="com.atzuche.order.photo.entity.OrderPhotoEntity">
		SELECT id,photo_type photoType,path,user_type userType,order_no orderNo,create_time createTime,update_time updateTime,operator FROM trans_car_condition_photo
		where order_no=#{orderNo} and photo_type=#{type}	
	</select>
	
	<select id="queryInsuranceClaimPhotoList" resultType="com.atzuche.order.photo.entity.OrderPhotoEntity">
		SELECT id,path,user_type userType,order_no orderNo,create_time createTime,update_time updateTime,operator FROM trans_claim_photo	where order_no=#{orderNo}
	</select>
	
	<select id="queryViolationPhotoList" resultType="com.atzuche.order.photo.entity.OrderPhotoEntity">
		SELECT id,path,user_type userType,order_no orderNo,create_time createTime,update_time updateTime,operator FROM trans_illegal_photo where order_no=#{orderNo}
	</select>
	
	<insert id="addUploadOrderPhoto" parameterType="map">
		 INSERT INTO
		 <if test="photoType==1||photoType==2">
		  trans_car_condition_photo(photo_type,path,user_type,order_no,serial_number,operator) VALUES(#{photoType},#{path},#{userType},#{orderNo},0,#{operator});
		 </if>
		 <if test="photoType==3">
		  trans_claim_photo(path,user_type,order_no,serial_number,operator) VALUES(#{path},#{userType},#{orderNo},0,#{operator});
		 </if>
		  <if test="photoType==4">
		  trans_illegal_photo(path,user_type,order_no,serial_number,operator) VALUES(#{path},#{userType},#{orderNo},0,#{operator});
		 </if>
	</insert>
	
	<delete id="delOrderPhoto">
		 DELETE FROM 
		 <if test="photoType==1||photoType==2">
		  trans_car_condition_photo
		 </if>
		 <if test="photoType==3">
		  trans_claim_photo
		 </if>
		 <if test="photoType==4">
		  trans_illegal_photo
		 </if>
		 WHERE id=#{id}
	</delete>
	<select id="queryWzcodeByOrderNo" resultType="java.lang.String">
		select wzcode from renyun_send_illegal_info_log
		where orderno=#{orderNo} order by id desc limit 1
	</select>
	<select id="queryIllegalPhotoByOrderNo" resultType="com.atzuche.order.photo.entity.PhotoPathDTO">
		select user_type userType,path img
		from trans_illegal_photo
		where order_no=#{orderNo}
	</select>
</mapper>
