<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.atzuche.order.wallet.server.mapper.CarDepositMapper">
    <resultMap id="base" type="com.atzuche.order.wallet.server.entity.CarDepositEntity">
        <id column="id" jdbcType="INTEGER" property="id" />
        <result column="reg_no"  property="carNo"/>
        <result column="hw_deposit_flag" property="hwDepositFlag"/>
        <result column="hw_deposit_total" property="hwDepositTotal"/>
        <result column="hw_deposit_bill" property="hwDepositBill"/>
    </resultMap>
    <update id="updateCarDepositBill">
        update car set hw_deposit_bill=hw_deposit_bill+#{updateBill}
        where reg_no=#{carNo}
    </update>
    <select id="getCarDepositById" resultMap="base">
        select id,reg_no,hw_deposit_flag,hw_deposit_total,hw_deposit_bill from car
        where id=#{id}
    </select>
    <select id="getCarDepositByCarNo" resultMap="base">
        select id,reg_no,hw_deposit_flag,hw_deposit_total,hw_deposit_bill from car
        where reg_no=#{carNo}
    </select>

</mapper>