<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.atzuche.order.wallet.server.mapper.MemberMapper">
    <resultMap id="base" type="com.atzuche.order.wallet.server.entity.BalanceEntity">
        <id column="id" jdbcType="INTEGER" property="id" />
        <result column="reg_no"  property="memNo"/>
        <result column="balance" property="balance"/>
    </resultMap>
    <update id="deductBalance">
        update member set balance=balance-#{deduct} where reg_no=#{memNo} and balance>deduct;
    </update>

    <select id="getByMemNo" resultMap="base">
        select id,reg_no,balance from member where reg_no=#{memNo}
    </select>
</mapper>