<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.atzuche.order.cashieraccount.mapper.AccountOwnerCashExamineMapper" >
  <resultMap id="BaseResultMap" type="com.atzuche.order.cashieraccount.entity.AccountOwnerCashExamine" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="amt" property="amt" jdbcType="INTEGER" />
    <result column="bank_name" property="bankName" jdbcType="INTEGER" />
    <result column="card_no" property="cardNo" jdbcType="VARCHAR" />
    <result column="serial_number" property="serialNumber" jdbcType="VARCHAR" />
    <result column="mem_no" property="memNo" jdbcType="INTEGER" />
    <result column="mobile" property="mobile" jdbcType="BIGINT" />
    <result column="real_name" property="realName" jdbcType="VARCHAR" />
    <result column="card_holder" property="cardHolder" jdbcType="VARCHAR" />
    <result column="branch_bank_name" property="branchBankName" jdbcType="VARCHAR" />
    <result column="province" property="province" jdbcType="VARCHAR" />
    <result column="city" property="city" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="import_flag" property="importFlag" jdbcType="INTEGER" />
    <result column="res_code" property="resCode" jdbcType="INTEGER" />
    <result column="res_code_txt" property="resCodeTxt" jdbcType="VARCHAR" />
    <result column="res_msg" property="resMsg" jdbcType="VARCHAR" />
    <result column="err_code" property="errCode" jdbcType="VARCHAR" />
    <result column="err_txt" property="errTxt" jdbcType="VARCHAR" />
    <result column="query_code" property="queryCode" jdbcType="INTEGER" />
    <result column="query_code_txt" property="queryCodeTxt" jdbcType="VARCHAR" />
    <result column="flow_REQSTS_txt" property="flowReqstsTxt" jdbcType="VARCHAR" />
    <result column="flow_RTNFLG_txt" property="flowRtnflgTxt" jdbcType="VARCHAR" />
    <result column="weight" property="weight" jdbcType="INTEGER" />
    <result column="handshake_push_flag" property="handshakePushFlag" jdbcType="INTEGER" />
    <result column="handshake_pull_flag" property="handshakePullFlag" jdbcType="INTEGER" />
    <result column="handshake_check_flag" property="handshakeCheckFlag" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="create_op" property="createOp" jdbcType="VARCHAR" />
    <result column="update_op" property="updateOp" jdbcType="VARCHAR" />
    <result column="is_delete" property="isDelete" jdbcType="TINYINT" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, amt, bank_name, card_no, serial_number, mem_no, mobile, real_name, card_holder, 
    branch_bank_name, province, city, status, import_flag, res_code, res_code_txt, res_msg, 
    err_code, err_txt, query_code, query_code_txt, flow_REQSTS_txt, flow_RTNFLG_txt, 
    weight, handshake_push_flag, handshake_pull_flag, handshake_check_flag, create_time, 
    update_time, create_op, update_op, is_delete
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from account_owner_cash_examine
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from account_owner_cash_examine
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.atzuche.order.cashieraccount.entity.AccountOwnerCashExamine" >
    insert into account_owner_cash_examine (id, amt, bank_name, 
      card_no, serial_number, mem_no, 
      mobile, real_name, card_holder, 
      branch_bank_name, province, city, 
      status, import_flag, res_code, 
      res_code_txt, res_msg, err_code, 
      err_txt, query_code, query_code_txt, 
      flow_REQSTS_txt, flow_RTNFLG_txt, weight, 
      handshake_push_flag, handshake_pull_flag, handshake_check_flag, 
      create_time, update_time, create_op, 
      update_op, is_delete)
    values (#{id,jdbcType=INTEGER}, #{amt,jdbcType=INTEGER}, #{bankName,jdbcType=INTEGER}, 
      #{cardNo,jdbcType=VARCHAR}, #{serialNumber,jdbcType=VARCHAR}, #{memNo,jdbcType=INTEGER}, 
      #{mobile,jdbcType=BIGINT}, #{realName,jdbcType=VARCHAR}, #{cardHolder,jdbcType=VARCHAR}, 
      #{branchBankName,jdbcType=VARCHAR}, #{province,jdbcType=VARCHAR}, #{city,jdbcType=VARCHAR}, 
      #{status,jdbcType=INTEGER}, #{importFlag,jdbcType=INTEGER}, #{resCode,jdbcType=INTEGER}, 
      #{resCodeTxt,jdbcType=VARCHAR}, #{resMsg,jdbcType=VARCHAR}, #{errCode,jdbcType=VARCHAR}, 
      #{errTxt,jdbcType=VARCHAR}, #{queryCode,jdbcType=INTEGER}, #{queryCodeTxt,jdbcType=VARCHAR}, 
      #{flowReqstsTxt,jdbcType=VARCHAR}, #{flowRtnflgTxt,jdbcType=VARCHAR}, #{weight,jdbcType=INTEGER}, 
      #{handshakePushFlag,jdbcType=INTEGER}, #{handshakePullFlag,jdbcType=INTEGER}, #{handshakeCheckFlag,jdbcType=INTEGER}, 
      #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, #{createOp,jdbcType=VARCHAR}, 
      #{updateOp,jdbcType=VARCHAR}, #{isDelete,jdbcType=TINYINT})
  </insert>
  <insert id="insertSelective" parameterType="com.atzuche.order.cashieraccount.entity.AccountOwnerCashExamine" >
    insert into account_owner_cash_examine
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="amt != null" >
        amt,
      </if>
      <if test="bankName != null" >
        bank_name,
      </if>
      <if test="cardNo != null" >
        card_no,
      </if>
      <if test="serialNumber != null" >
        serial_number,
      </if>
      <if test="memNo != null" >
        mem_no,
      </if>
      <if test="mobile != null" >
        mobile,
      </if>
      <if test="realName != null" >
        real_name,
      </if>
      <if test="cardHolder != null" >
        card_holder,
      </if>
      <if test="branchBankName != null" >
        branch_bank_name,
      </if>
      <if test="province != null" >
        province,
      </if>
      <if test="city != null" >
        city,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="importFlag != null" >
        import_flag,
      </if>
      <if test="resCode != null" >
        res_code,
      </if>
      <if test="resCodeTxt != null" >
        res_code_txt,
      </if>
      <if test="resMsg != null" >
        res_msg,
      </if>
      <if test="errCode != null" >
        err_code,
      </if>
      <if test="errTxt != null" >
        err_txt,
      </if>
      <if test="queryCode != null" >
        query_code,
      </if>
      <if test="queryCodeTxt != null" >
        query_code_txt,
      </if>
      <if test="flowReqstsTxt != null" >
        flow_REQSTS_txt,
      </if>
      <if test="flowRtnflgTxt != null" >
        flow_RTNFLG_txt,
      </if>
      <if test="weight != null" >
        weight,
      </if>
      <if test="handshakePushFlag != null" >
        handshake_push_flag,
      </if>
      <if test="handshakePullFlag != null" >
        handshake_pull_flag,
      </if>
      <if test="handshakeCheckFlag != null" >
        handshake_check_flag,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="createOp != null" >
        create_op,
      </if>
      <if test="updateOp != null" >
        update_op,
      </if>
      <if test="isDelete != null" >
        is_delete,
      </if>
      <if test="secondCleanFlag != null" >
        second_clean_flag,
      </if>
      <if test="balanceFlag != null" >
        balance_flag,
      </if>
      <if test="requestBatchCode != null" >
        request_batch_code,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="amt != null" >
        #{amt,jdbcType=INTEGER},
      </if>
      <if test="bankName != null" >
        #{bankName,jdbcType=INTEGER},
      </if>
      <if test="cardNo != null" >
        #{cardNo,jdbcType=VARCHAR},
      </if>
      <if test="serialNumber != null" >
        #{serialNumber,jdbcType=VARCHAR},
      </if>
      <if test="memNo != null" >
        #{memNo,jdbcType=INTEGER},
      </if>
      <if test="mobile != null" >
        #{mobile,jdbcType=BIGINT},
      </if>
      <if test="realName != null" >
        #{realName,jdbcType=VARCHAR},
      </if>
      <if test="cardHolder != null" >
        #{cardHolder,jdbcType=VARCHAR},
      </if>
      <if test="branchBankName != null" >
        #{branchBankName,jdbcType=VARCHAR},
      </if>
      <if test="province != null" >
        #{province,jdbcType=VARCHAR},
      </if>
      <if test="city != null" >
        #{city,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="importFlag != null" >
        #{importFlag,jdbcType=INTEGER},
      </if>
      <if test="resCode != null" >
        #{resCode,jdbcType=INTEGER},
      </if>
      <if test="resCodeTxt != null" >
        #{resCodeTxt,jdbcType=VARCHAR},
      </if>
      <if test="resMsg != null" >
        #{resMsg,jdbcType=VARCHAR},
      </if>
      <if test="errCode != null" >
        #{errCode,jdbcType=VARCHAR},
      </if>
      <if test="errTxt != null" >
        #{errTxt,jdbcType=VARCHAR},
      </if>
      <if test="queryCode != null" >
        #{queryCode,jdbcType=INTEGER},
      </if>
      <if test="queryCodeTxt != null" >
        #{queryCodeTxt,jdbcType=VARCHAR},
      </if>
      <if test="flowReqstsTxt != null" >
        #{flowReqstsTxt,jdbcType=VARCHAR},
      </if>
      <if test="flowRtnflgTxt != null" >
        #{flowRtnflgTxt,jdbcType=VARCHAR},
      </if>
      <if test="weight != null" >
        #{weight,jdbcType=INTEGER},
      </if>
      <if test="handshakePushFlag != null" >
        #{handshakePushFlag,jdbcType=INTEGER},
      </if>
      <if test="handshakePullFlag != null" >
        #{handshakePullFlag,jdbcType=INTEGER},
      </if>
      <if test="handshakeCheckFlag != null" >
        #{handshakeCheckFlag,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createOp != null" >
        #{createOp,jdbcType=VARCHAR},
      </if>
      <if test="updateOp != null" >
        #{updateOp,jdbcType=VARCHAR},
      </if>
      <if test="isDelete != null" >
        #{isDelete,jdbcType=TINYINT},
      </if>
      <if test="secondCleanFlag != null" >
        #{secondCleanFlag},
      </if>
      <if test="balanceFlag != null" >
        #{balanceFlag},
      </if>
      <if test="requestBatchCode != null" >
        #{requestBatchCode},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.atzuche.order.cashieraccount.entity.AccountOwnerCashExamine" >
    update account_owner_cash_examine
    <set >
      <if test="amt != null" >
        amt = #{amt,jdbcType=INTEGER},
      </if>
      <if test="bankName != null" >
        bank_name = #{bankName,jdbcType=INTEGER},
      </if>
      <if test="cardNo != null" >
        card_no = #{cardNo,jdbcType=VARCHAR},
      </if>
      <if test="serialNumber != null" >
        serial_number = #{serialNumber,jdbcType=VARCHAR},
      </if>
      <if test="memNo != null" >
        mem_no = #{memNo,jdbcType=INTEGER},
      </if>
      <if test="mobile != null" >
        mobile = #{mobile,jdbcType=BIGINT},
      </if>
      <if test="realName != null" >
        real_name = #{realName,jdbcType=VARCHAR},
      </if>
      <if test="cardHolder != null" >
        card_holder = #{cardHolder,jdbcType=VARCHAR},
      </if>
      <if test="branchBankName != null" >
        branch_bank_name = #{branchBankName,jdbcType=VARCHAR},
      </if>
      <if test="province != null" >
        province = #{province,jdbcType=VARCHAR},
      </if>
      <if test="city != null" >
        city = #{city,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="importFlag != null" >
        import_flag = #{importFlag,jdbcType=INTEGER},
      </if>
      <if test="resCode != null" >
        res_code = #{resCode,jdbcType=INTEGER},
      </if>
      <if test="resCodeTxt != null" >
        res_code_txt = #{resCodeTxt,jdbcType=VARCHAR},
      </if>
      <if test="resMsg != null" >
        res_msg = #{resMsg,jdbcType=VARCHAR},
      </if>
      <if test="errCode != null" >
        err_code = #{errCode,jdbcType=VARCHAR},
      </if>
      <if test="errTxt != null" >
        err_txt = #{errTxt,jdbcType=VARCHAR},
      </if>
      <if test="queryCode != null" >
        query_code = #{queryCode,jdbcType=INTEGER},
      </if>
      <if test="queryCodeTxt != null" >
        query_code_txt = #{queryCodeTxt,jdbcType=VARCHAR},
      </if>
      <if test="flowReqstsTxt != null" >
        flow_REQSTS_txt = #{flowReqstsTxt,jdbcType=VARCHAR},
      </if>
      <if test="flowRtnflgTxt != null" >
        flow_RTNFLG_txt = #{flowRtnflgTxt,jdbcType=VARCHAR},
      </if>
      <if test="weight != null" >
        weight = #{weight,jdbcType=INTEGER},
      </if>
      <if test="handshakePushFlag != null" >
        handshake_push_flag = #{handshakePushFlag,jdbcType=INTEGER},
      </if>
      <if test="handshakePullFlag != null" >
        handshake_pull_flag = #{handshakePullFlag,jdbcType=INTEGER},
      </if>
      <if test="handshakeCheckFlag != null" >
        handshake_check_flag = #{handshakeCheckFlag,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createOp != null" >
        create_op = #{createOp,jdbcType=VARCHAR},
      </if>
      <if test="updateOp != null" >
        update_op = #{updateOp,jdbcType=VARCHAR},
      </if>
      <if test="isDelete != null" >
        is_delete = #{isDelete,jdbcType=TINYINT},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.atzuche.order.cashieraccount.entity.AccountOwnerCashExamine" >
    update account_owner_cash_examine
    set amt = #{amt,jdbcType=INTEGER},
      bank_name = #{bankName,jdbcType=INTEGER},
      card_no = #{cardNo,jdbcType=VARCHAR},
      serial_number = #{serialNumber,jdbcType=VARCHAR},
      mem_no = #{memNo,jdbcType=INTEGER},
      mobile = #{mobile,jdbcType=BIGINT},
      real_name = #{realName,jdbcType=VARCHAR},
      card_holder = #{cardHolder,jdbcType=VARCHAR},
      branch_bank_name = #{branchBankName,jdbcType=VARCHAR},
      province = #{province,jdbcType=VARCHAR},
      city = #{city,jdbcType=VARCHAR},
      status = #{status,jdbcType=INTEGER},
      import_flag = #{importFlag,jdbcType=INTEGER},
      res_code = #{resCode,jdbcType=INTEGER},
      res_code_txt = #{resCodeTxt,jdbcType=VARCHAR},
      res_msg = #{resMsg,jdbcType=VARCHAR},
      err_code = #{errCode,jdbcType=VARCHAR},
      err_txt = #{errTxt,jdbcType=VARCHAR},
      query_code = #{queryCode,jdbcType=INTEGER},
      query_code_txt = #{queryCodeTxt,jdbcType=VARCHAR},
      flow_REQSTS_txt = #{flowReqstsTxt,jdbcType=VARCHAR},
      flow_RTNFLG_txt = #{flowRtnflgTxt,jdbcType=VARCHAR},
      weight = #{weight,jdbcType=INTEGER},
      handshake_push_flag = #{handshakePushFlag,jdbcType=INTEGER},
      handshake_pull_flag = #{handshakePullFlag,jdbcType=INTEGER},
      handshake_check_flag = #{handshakeCheckFlag,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      create_op = #{createOp,jdbcType=VARCHAR},
      update_op = #{updateOp,jdbcType=VARCHAR},
      is_delete = #{isDelete,jdbcType=TINYINT}
    where id = #{id,jdbcType=INTEGER}
  </update>
  
  <select id="listAccountOwnerCashExamineByMemNo" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from account_owner_cash_examine
    where mem_no = #{memNo}
    and is_delete = 0
  </select>
  
  <select id="getCountByMemNoAndDateTime" resultType="Integer">
    select 
    COUNT(*)
    from account_owner_cash_examine
    WHERE mem_no=#{memNo} AND DATE_FORMAT(create_time,'%Y-%m-%d')=#{date}
    AND is_delete = 0
  </select>
</mapper>