<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.atzuche.order.cashieraccount.mapper.CashierRefundApplyMapper">

    <resultMap type="com.atzuche.order.cashieraccount.entity.CashierRefundApplyEntity" id="BaseResultMap">
        <result property="id" column="id"/>
        <result property="memNo" column="mem_no"/>
        <result property="orderNo" column="order_no"/>
        <result property="sourceCode" column="source_code"/>
        <result property="sourceDetail" column="source_detail"/>
        <result property="amt" column="amt"/>
        <result property="status" column="status"/>
        <result property="uniqueNo" column="refund_unique_no"/>
        <result property="remake" column="remake"/>
        <result property="deptName" column="dept_name"/>
        <result property="createTime" column="create_time"/>
        <result property="createOp" column="create_op"/>
        <result property="updateTime" column="update_time"/>
        <result property="updateOp" column="update_op"/>
        <result property="isDelete" column="is_delete"/>
        <result property="version" column="version"/>

    </resultMap>


	<sql id="Base_Column_List">
	`id`,
	mem_no,
	`order_no`, 	
	`source_code`,
	`source_detail`,
	`amt`, 	
	`status`, 	
	`unique_no`,
	`remake`, 	
	`dept_name`, 	
	`create_time`, 	
	`create_op`, 	
	`update_time`, 	
	`update_op`, 	
	`is_delete`	,
	version

	</sql>


	<select id="selectByPrimaryKey" resultMap="BaseResultMap">
		select <include refid="Base_Column_List" /> from cashier_refund_apply where id = #{value}
	</select>

	<select id="selectALL" resultMap="BaseResultMap">
		select  <include refid="Base_Column_List" /> from cashier_refund_apply order by id desc
	</select>


	<insert id="insert" parameterType="com.atzuche.order.cashieraccount.entity.CashierRefundApplyEntity">
		insert into cashier_refund_apply
		(
			`id`,
			mem_no,
				`order_no`,
				`source_code`,
				`source_detail`,
				`amt`,
				`status`,
				`unique_no`,
				`remake`,
				`dept_name`,
				`create_time`,
				`create_op`,
				`update_time`,
				`update_op`,
				version
				`is_delete`
			)
		values
		(
			#{id},
			#{memNo},
				#{orderNo},
				#{sourceCode},
				#{sourceDetail},
				#{amt},
				#{status},
				#{refundUniqueNo},
				#{remake},
				#{deptName},
				#{createTime},
				#{createOp},
				#{updateTime},
				#{updateOp},
				#{version},
				#{isDelete}
			)
	</insert>

	<update id="updateByPrimaryKeySelective" parameterType="com.atzuche.order.cashieraccount.entity.CashierRefundApplyEntity">
		update cashier_refund_apply 
		<set>
				<if test="memNo != null">`mem_no` = #{memNo}, </if>
            <if test="orderNo != null">`order_no` = #{orderNo}, </if>

            <if test="sourceCode != null">`source_code` = #{sourceCode}, </if>
				<if test="sourceDetail != null">`source_detail` = #{sourceDetail}, </if>
				<if test="amt != null">`amt` = #{amt}, </if>
				<if test="status != null">`status` = #{status}, </if>
				<if test="uniqueNo != null">`unique_no` = #{uniqueNo}, </if>
				<if test="remake != null">`remake` = #{remake}, </if>
				<if test="deptName != null">`dept_name` = #{deptName}, </if>
				<if test="createTime != null">`create_time` = #{createTime}, </if>
				<if test="createOp != null">`create_op` = #{createOp}, </if>
				<if test="updateTime != null">`update_time` = #{updateTime}, </if>
				<if test="updateOp != null">`update_op` = #{updateOp}, </if>
            version = version + 1,
				<if test="isDelete != null">`is_delete` = #{isDelete}</if>
			</set>
		where id = #{id} and version = #{version}
	</update>
	

  	
</mapper>