<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.atzuche.order.admin.mapper.OrderRemarkMapper">

    <resultMap id="orderRemarkOverviewMap" type="com.atzuche.order.admin.entity.OrderRemarkOverviewEntity" >
        <result property="remarkType" column="remark_type"/>
        <result property="typeCount" column="typeCount"/>
    </resultMap>

	<resultMap id="orderRemarkInformationMap" type="com.atzuche.order.admin.vo.resp.remark.OrderRemarkResponseVO" >
		<result property="remarkType" column="remark_type"/>
		<result property="remarkContent" column="remark"/>
		<result property="departmentId" column="dept_id"/>
		<result property="remarkId" column="id"/>
	</resultMap>

    <select id="getOrderRemarkOverview" resultMap="orderRemarkOverviewMap">
        SELECT remark_type, COUNT(*) AS typeCount FROM trans_remark where order_no = #{orderNo} GROUP BY remark_type
    </select>

    <insert id="addOrderRemark" parameterType="com.atzuche.order.admin.dto.OrderRemarkAdditionRequestDTO">
        insert into trans_remark
		(
			`order_no`,
			`number`,
			`remark_type`,
			`remark`,
			`limit_delayed`,
			`follow_status`,
			`follow_fail_reason`,
			`create_time`,
			`create_op`,
			`update_time`,
			`update_op`,
			`dept_id`
		)
		values
		(
			#{orderNo},
			#{number},
			#{remarkType},
			#{remarkContent},
			#{limitDelayed},
			#{followStatus},
			#{followFailReason},
			#{createTime},
			#{createOp},
			#{updateTime},
			#{updateOp},
			#{departmentId}
		)
    </insert>

	<select id="getOrderRemarkInformation" resultMap="orderRemarkOverviewMap">
		SELECT id, dept_id, remark, remark_type FROM trans_remark where id = #{remarkId}
	</select>


	<update id="updateRemarkById" parameterType="com.atzuche.order.delivery.entity.RenterOrderDeliveryEntity">
		update trans_remark
		<set>
			<if test="departmentId != null">`dept_id` = #{departmentId}, </if>
			<if test="remarkType != null">`remark_type` = #{remarkType}, </if>
			<if test="remarkContent != null">`remark` = #{remarkContent}, </if>
			<if test="limitDelayed != null">`limit_delayed` = #{limitDelayed}, </if>
			<if test="followStatus != null">`follow_status` = #{followStatus}, </if>
			<if test="followFailReason != null">`follow_fail_reason` = #{followFailReason}, </if>
			<if test="updateOp != null">`update_op` = #{updateOp}, </if>
			<if test="isDelete != null">`is_delete` = #{isDelete}</if>

		</set>
		where id = #{remarkId}
	</update>


  	
</mapper>