<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.atzuche.order.parentorder.mapper.OrderStatusMapper">

    <resultMap type="com.atzuche.order.parentorder.entity.OrderStatusEntity" id="BaseResultMap">
        <result property="id" column="id"/>
        <result property="orderNo" column="order_no"/>
        <result property="rentCarPayStatus" column="rent_car_pay_status"/>
        <result property="rentCarRefundStatus" column="rent_car_refund_status"/>
        <result property="depositPayStatus" column="deposit_pay_status"/>
        <result property="depositRefundStatus" column="deposit_refund_status"/>
        <result property="wzPayStatus" column="wz_pay_status"/>
        <result property="wzRefundStatus" column="wz_refund_status"/>
        <result property="wzSettleStatus" column="wz_settle_status"/>
        <result property="wzSettleTime" column="wz_settle_time"/>
        <result property="carDepositSettleStatus" column="car_deposit_settle_status"/>
        <result property="carDepositSettleTime" column="car_deposit_settle_time"/>
        <result property="settleStatus" column="settle_status"/>
        <result property="settleTime" column="settle_time"/>
        <result property="isDispatch" column="is_dispatch"/>
        <result property="dispatchStatus" column="dispatch_status"/>
        <result property="isClaims" column="is_claims"/>
        <result property="isDetain" column="is_detain"/>
        <result property="isWz" column="is_wz"/>
        <result property="isRiskAccident" column="is_risk_accident"/>
        <result property="status" column="status"/>
        <result property="createTime" column="create_time"/>
        <result property="createOp" column="create_op"/>
        <result property="updateTime" column="update_time"/>
        <result property="updateOp" column="update_op"/>
        <result property="isDelete" column="is_delete"/>
    </resultMap>


	<sql id="Base_Column_List">
        `id`, `order_no`, `rent_car_pay_status`, `rent_car_refund_status`, `deposit_pay_status`,
         `deposit_refund_status`, `wz_pay_status`, `wz_refund_status`, `wz_settle_status`, `wz_settle_time`,
        `car_deposit_settle_status`, `car_deposit_settle_time`,  `settle_status`, `settle_time`,
        `is_dispatch`,  `dispatch_status`, `is_claims`, `is_detain`, `is_wz`,`is_risk_accident`, `status`,
        `create_time`, `create_op`, `update_time`, `update_op`, `is_delete`
	</sql>


	<select id="selectByOrderNo" resultMap="BaseResultMap">
		select
		    <include refid="Base_Column_List" />
		from order_status where order_no = #{value} limit 1
	</select>

	<insert id="insert" parameterType="com.atzuche.order.parentorder.entity.OrderStatusEntity" useGeneratedKeys="true" keyProperty="id">
		insert into order_status (
            `order_no`,
            `rent_car_pay_status`,
            `rent_car_refund_status`,
            `deposit_pay_status`,
            `deposit_refund_status`,
            `wz_pay_status`,
            `wz_refund_status`,
            `wz_settle_status`,
            `wz_settle_time`,
            `car_deposit_settle_status`,
            `car_deposit_settle_time`,
            `settle_status`,
            `settle_time`,
            `is_dispatch`,
            `dispatch_status`,
            `is_claims`,
            `is_detain`,
            `is_wz`,
            `is_risk_accident`,
            `status`,
            `create_time`,
            `create_op`,
            `update_time`,
            `update_op`,
            `is_delete`
		) values (
            #{orderNo},
            #{rentCarPayStatus},
            #{rentCarRefundStatus},
            #{depositPayStatus},
            #{depositRefundStatus},
            #{wzPayStatus},
            #{wzRefundStatus},
            #{wzSettleStatus},
            #{wzSettleTime},
            #{carDepositSettleStatus},
            #{carDepositSettleTime},
            #{settleStatus},
            #{settleTime},
            #{isDispatch},
            #{dispatchStatus},
            #{isClaims},
            #{isDetain},
            #{isWz},
            #{isRiskAccident},
            #{status},
            #{createTime},
            #{createOp},
            #{updateTime},
            #{updateOp},
            #{isDelete}
        )
	</insert>
	
	<insert id="insertSelective" parameterType="com.atzuche.order.parentorder.entity.OrderStatusEntity" useGeneratedKeys="true" keyProperty="id">
		insert into order_status
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="orderNo != null">`order_no`, </if>
            <if test="rentCarPayStatus != null">`rent_car_pay_status`, </if>
            <if test="rentCarRefundStatus != null">`rent_car_refund_status`, </if>
            <if test="depositPayStatus != null">`deposit_pay_status`, </if>
            <if test="depositRefundStatus != null">`deposit_refund_status`, </if>
            <if test="wzPayStatus != null">`wz_pay_status`, </if>
            <if test="wzRefundStatus != null">`wz_refund_status`, </if>
            <if test="wzSettleStatus != null">`wz_settle_status`, </if>
            <if test="wzSettleTime != null">`wz_settle_time`, </if>
            <if test="carDepositSettleStatus != null">`car_deposit_settle_status`, </if>
            <if test="carDepositSettleTime != null">`car_deposit_settle_time`, </if>
            <if test="settleStatus != null">`settle_status`, </if>
            <if test="settleTime != null">`settle_time`, </if>
            <if test="isDispatch != null">`is_dispatch`, </if>
            <if test="dispatchStatus != null">`dispatch_status`, </if>
            <if test="isClaims != null">`is_claims`, </if>
            <if test="isDetain != null">`is_detain`, </if>
            <if test="isWz != null">`is_wz`, </if>
            <if test="isRiskAccident != null">`is_risk_accident`, </if>
            <if test="status != null">`status`, </if>
            <if test="createTime != null">`create_time`, </if>
            <if test="createOp != null">`create_op`, </if>
            <if test="updateTime != null">`update_time`, </if>
            <if test="updateOp != null">`update_op`, </if>
            <if test="isDelete != null">`is_delete` </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="orderNo != null">#{orderNo},  </if>
            <if test="rentCarPayStatus != null">#{rentCarPayStatus},  </if>
            <if test="rentCarRefundStatus != null">#{rentCarRefundStatus},  </if>
            <if test="depositPayStatus != null">#{depositPayStatus},  </if>
            <if test="depositRefundStatus != null">#{depositRefundStatus},  </if>
            <if test="wzPayStatus != null">#{wzPayStatus},  </if>
            <if test="wzRefundStatus != null">#{wzRefundStatus},  </if>
            <if test="wzSettleStatus != null">#{wzSettleStatus},  </if>
            <if test="wzSettleTime != null">#{wzSettleTime},  </if>
            <if test="carDepositSettleStatus != null">#{carDepositSettleStatus},  </if>
            <if test="carDepositSettleTime != null">#{carDepositSettleTime},  </if>
            <if test="settleStatus != null">#{settleStatus},  </if>
            <if test="settleTime != null">#{settleTime},  </if>
            <if test="isDispatch != null">#{isDispatch},  </if>
            <if test="dispatchStatus != null">#{dispatchStatus},  </if>
            <if test="isClaims != null">#{isClaims},  </if>
            <if test="isDetain != null">#{isDetain},  </if>
            <if test="isWz != null">#{isWz},  </if>
            <if test="isRiskAccident != null">#{isRiskAccident}, </if>
            <if test="status != null">#{status},  </if>
            <if test="createTime != null">#{createTime},  </if>
            <if test="createOp != null">#{createOp},  </if>
            <if test="updateTime != null">#{updateTime},  </if>
            <if test="updateOp != null">#{updateOp},  </if>
            <if test="isDelete != null">#{isDelete} </if>
        </trim>
	</insert>
	
	 
	<update id="updateByPrimaryKeySelective" parameterType="com.atzuche.order.parentorder.entity.OrderStatusEntity">
		update order_status 
            <set>
                <if test="orderNo != null">`order_no` = #{orderNo}, </if>
                <if test="rentCarPayStatus != null">`rent_car_pay_status` = #{rentCarPayStatus}, </if>
                <if test="rentCarRefundStatus != null">`rent_car_refund_status` = #{rentCarRefundStatus}, </if>
                <if test="depositPayStatus != null">`deposit_pay_status` = #{depositPayStatus}, </if>
                <if test="depositRefundStatus != null">`deposit_refund_status` = #{depositRefundStatus}, </if>
                <if test="wzPayStatus != null">`wz_pay_status` = #{wzPayStatus}, </if>
                <if test="wzRefundStatus != null">`wz_refund_status` = #{wzRefundStatus}, </if>
                <if test="wzSettleStatus != null">`wz_settle_status` = #{wzSettleStatus}, </if>
                <if test="wzSettleTime != null">`wz_settle_time` = #{wzSettleTime}, </if>
                <if test="carDepositSettleStatus != null">`car_deposit_settle_status` = #{carDepositSettleStatus}, </if>
                <if test="carDepositSettleTime != null">`car_deposit_settle_time` = #{carDepositSettleTime}, </if>
                <if test="settleStatus != null">`settle_status` = #{settleStatus}, </if>
                <if test="settleTime != null">`settle_time` = #{settleTime}, </if>
                <if test="isDispatch != null">`is_dispatch` = #{isDispatch}, </if>
                <if test="dispatchStatus != null">`dispatch_status` = #{dispatchStatus}, </if>
                <if test="isClaims != null">`is_claims` = #{isClaims}, </if>
                <if test="isDetain != null">`is_detain` = #{isDetain}, </if>
                <if test="isWz != null">`is_wz` = #{isWz}, </if>
                <if test="isRiskAccident != null">`is_risk_accident` = #{isRiskAccident}, </if>
                <if test="status != null">`status` = #{status}, </if>
                <if test="createTime != null">`create_time` = #{createTime}, </if>
                <if test="createOp != null">`create_op` = #{createOp}, </if>
                <if test="updateTime != null">`update_time` = #{updateTime}, </if>
                <if test="updateOp != null">`update_op` = #{updateOp}, </if>
                <if test="isDelete != null">`is_delete` = #{isDelete}</if>
            </set>
		where id = #{id}
	</update>
	
	<update id="updateByPrimaryKey" parameterType="com.atzuche.order.parentorder.entity.OrderStatusEntity">
		update order_status 
		    <set>
				`order_no` = #{orderNo}, 		
				`rent_car_pay_status` = #{rentCarPayStatus}, 		
				`rent_car_refund_status` = #{rentCarRefundStatus}, 		
				`deposit_pay_status` = #{depositPayStatus}, 		
				`deposit_refund_status` = #{depositRefundStatus}, 		
				`wz_pay_status` = #{wzPayStatus}, 		
				`wz_refund_status` = #{wzRefundStatus}, 		
				`wz_settle_status` = #{wzSettleStatus}, 		
				`wz_settle_time` = #{wzSettleTime}, 		
				`car_deposit_settle_status` = #{carDepositSettleStatus}, 		
				`car_deposit_settle_time` = #{carDepositSettleTime}, 		
				`settle_status` = #{settleStatus}, 		
				`settle_time` = #{settleTime}, 		
				`is_dispatch` = #{isDispatch}, 		
				`dispatch_status` = #{dispatchStatus}, 		
				`is_claims` = #{isClaims}, 		
				`is_detain` = #{isDetain}, 		
				`is_wz` = #{isWz},
                `is_risk_accident` = #{isRiskAccident},
				`status` = #{status}, 		
				`create_time` = #{createTime}, 		
				`create_op` = #{createOp}, 		
				`update_time` = #{updateTime}, 		
				`update_op` = #{updateOp}, 		
				`is_delete` = #{isDelete}		
		    </set>
		where id = #{id}
	</update>

    <select id="queryOrderNoByStartTimeAndEndTime" resultType="java.lang.String">
        select order_no from order_status where status = 8 and create_time BETWEEN #{startTime} AND #{endTime} and is_delete = 0
    </select>
  	
</mapper>