<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.atzuche.order.coin.mapper.AccountRenterCostCoinMapper">

    <resultMap type="com.atzuche.order.coin.entity.AccountRenterCostCoinEntity" id="BaseResultMap">
        <result property="id" column="id"/>
        <result property="orderNo" column="order_no"/>
        <result property="renterOrderNo" column="renter_order_no"/>
        <result property="memNo" column="mem_no"/>
        <result property="orderType" column="order_type"/>
        <result property="amt" column="amt"/>
        <result property="remark" column="remark"/>
        <result property="createOp" column="create_op"/>
        <result property="updateOp" column="update_op"/>
    </resultMap>

	<sql id="Base_Column_List">
	`id`, 	
	`order_no`, 	
	`renter_order_no`, 	
	`mem_no`, 	
	`order_type`, 	
	`amt`, 	
	`remark`,
	`create_op`,
	`update_op`

	</sql>


	<select id="selectByPrimaryKey" resultMap="BaseResultMap">
		select <include refid="Base_Column_List" /> from account_renter_cost_coin where id = #{value}
	</select>

	<insert id="insert" parameterType="com.atzuche.order.coin.entity.AccountRenterCostCoinEntity">
		insert into account_renter_cost_coin
		(
			`id`,		
				`order_no`,		
				`renter_order_no`,		
				`mem_no`,		
				`order_type`,		
				`amt`,		
				`remark`,
				`create_op`,
				`update_op`
			)
		values
		(
			#{id}, 		
				#{orderNo}, 		
				#{renterOrderNo}, 		
				#{memNo}, 		
				#{orderType}, 		
				#{amt}, 		
				#{remark},
				#{createOp},
				#{updateOp}
			)
	</insert>


    <select id="getAccountRenterCostCoins" resultMap="BaseResultMap">
        select <include refid="Base_Column_List" /> from account_renter_cost_coin
        where order_no = #{orderNo} and mem_no = #{memNo}
    </select>
	<select id="getAccountRenterCostCoinTotal" resultType="java.lang.Integer">
		select ifnull(sum(amt),0) from account_renter_cost_coin
		where order_no = #{orderNo}
	</select>

</mapper>