<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.atzuche.order.accountownerincome.mapper.AccountOwnerIncomeDetailMapper">

    <resultMap type="com.atzuche.order.accountownerincome.entity.AccountOwnerIncomeDetailEntity" id="BaseResultMap">
        <result property="id" column="id"/>
        <result property="memNo" column="mem_no"/>
        <result property="orderNo" column="order_no"/>
        <result property="amt" column="amt"/>
        <result property="time" column="time"/>
        <result property="detail" column="detail"/>
        <result property="costCode" column="cost_code"/>
        <result property="costDetail" column="cost_detail"/>
        <result property="type" column="type"/>
        <result property="cashApplyId" column="cash_apply_id"/>
        <result property="incomeExamineId" column="income_examine_id"/>
        <result property="unqueNo" column="unque_no"/>
        <result property="createTime" column="create_time"/>
        <result property="createOp" column="create_op"/>
        <result property="updateTime" column="update_time"/>
        <result property="updateOp" column="update_op"/>
        <result property="isDelete" column="is_delete"/>
    </resultMap>


	<sql id="Base_Column_List">
	`id`, 	
	`mem_no`, 	
	`order_no`, 	
	`amt`, 	
	`time`, 	
	`detail`, 	
	`cost_code`, 	
	`cost_detail`, 	
	`type`, 	
	`cash_apply_id`, 	
	`income_examine_id`, 	
	`unque_no`, 	
	`create_time`, 	
	`create_op`, 	
	`update_time`, 	
	`update_op`, 	
	`is_delete`	

	</sql>


	<select id="selectByPrimaryKey" resultMap="BaseResultMap">
		select <include refid="Base_Column_List" /> from account_owner_income_detail where id = #{value}
	</select>

	<insert id="insert" parameterType="com.atzuche.order.accountownerincome.entity.AccountOwnerIncomeDetailEntity" useGeneratedKeys="true" keyProperty="id">
		insert into account_owner_income_detail
		(
				`mem_no`,		
				`order_no`,		
				`amt`,		
				`time`,		
				`detail`,		
				`cost_code`,		
				`cost_detail`,		
				`type`,		
				`cash_apply_id`,		
				`income_examine_id`,		
				`unque_no`,		
				`create_time`,		
				`create_op`,		
				`update_time`,		
				`update_op`,		
				`is_delete`		
			)
		values
		(
				#{memNo}, 		
				#{orderNo}, 		
				#{amt}, 		
				#{time}, 		
				#{detail}, 		
				#{costCode}, 		
				#{costDetail}, 		
				#{type}, 		
				#{cashApplyId}, 		
				#{incomeExamineId}, 		
				#{unqueNo}, 		
				#{createTime}, 		
				#{createOp}, 		
				#{updateTime}, 		
				#{updateOp}, 		
				#{isDelete}		
			)
	</insert>
	

</mapper>