<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.atzuche.order.renterorder.mapper.OrderTransferRecordMapper">

    <resultMap type="com.atzuche.order.renterorder.entity.OrderTransferRecordEntity" id="BaseResultMap">
        <result property="id" column="id"/>
        <result property="orderNo" column="order_no"/>
        <result property="memNo" column="mem_no"/>
        <result property="carNo" column="car_no"/>
        <result property="source" column="source"/>
        <result property="operator" column="operator"/>
        <result property="carPlateNum" column="car_plate_num"/>
        <result property="createTime" column="create_time"/>
    </resultMap>


	<sql id="Base_Column_List">
	`id`, 	
	`order_no`, 	
	`mem_no`,
	`car_no`,
	`source`, 	
	`operator`, 	
	`car_plate_num`, 	
	`create_time`
	</sql>

    <insert id="saveOrderTransferRecord" parameterType="com.atzuche.order.renterorder.entity.OrderTransferRecordEntity" useGeneratedKeys="true" keyProperty="id">
        insert into order_transfer_record  (
        `order_no`,
        `mem_no`,
        `car_no`,
        `source`,
        `operator`,
        `car_plate_num`
        )
        values
        (
        #{orderNo},
        #{memNo},
        #{carNo},
        #{source},
        #{operator},
        #{carPlateNum}
        )
    </insert>

</mapper>