<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.atzuche.com.renterorder.mapper.RenterAdditionalDriverMapper">

    <resultMap type="com.atzuche.order.renterorder.entity.RenterAdditionalDriverEntity" id="BaseResultMap">
        <result property="id" column="id"/>
        <result property="orderNo" column="order_no"/>
        <result property="renterOrderNo" column="renter_order_no"/>
        <result property="driverId" column="driver_id"/>
        <result property="realName" column="real_name"/>
        <result property="phone" column="phone"/>
        <result property="isUse" column="is_use"/>
        <result property="createTime" column="create_time"/>
        <result property="createOp" column="create_op"/>
        <result property="updateTime" column="update_time"/>
        <result property="updateOp" column="update_op"/>
        <result property="isDelete" column="is_delete"/>
    </resultMap>


	<sql id="Base_Column_List">
        `id`,
        `order_no`,
        `renter_order_no`,
        `driver_id`,
        `real_name`,
        `phone`,
        `is_use`,
        `create_time`,
        `create_op`,
        `update_time`,
        `update_op`,
        `is_delete`
	</sql>


	<select id="selectByPrimaryKey" resultMap="BaseResultMap">
		select <include refid="Base_Column_List" /> from renter_additional_driver where id = #{value}
	</select>

	<insert id="insert" parameterType="com.atzuche.order.renterorder.entity.RenterAdditionalDriverEntity" useGeneratedKeys="true" keyProperty="id">
		insert into renter_additional_driver (
            `order_no`,
            `renter_order_no`,
            `driver_id`,
            `real_name`,
            `phone`,
            `is_use`,
            `create_time`,
            `create_op`,
            `update_time`,
            `update_op`,
            `is_delete`
        ) values (
            #{orderNo},
            #{renterOrderNo},
            #{driverId},
            #{realName},
            #{phone},
            #{isUse},
            #{createTime},
            #{createOp},
            #{updateTime},
            #{updateOp},
            #{isDelete}
        )
	</insert>
	
	<insert id="insertSelective" parameterType="com.atzuche.order.renterorder.entity.RenterAdditionalDriverEntity" useGeneratedKeys="true" keyProperty="id">
		insert into renter_additional_driver
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="orderNo != null">`order_no`, </if>
            <if test="renterOrderNo != null">`renter_order_no`, </if>
            <if test="driverId != null">`driver_id`, </if>
            <if test="realName != null">`real_name`, </if>
            <if test="phone != null">`phone`, </if>
            <if test="isUse != null">`is_use`, </if>
            <if test="createTime != null">`create_time`, </if>
            <if test="createOp != null">`create_op`, </if>
            <if test="updateTime != null">`update_time`, </if>
            <if test="updateOp != null">`update_op`, </if>
            <if test="isDelete != null">`is_delete` </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="orderNo != null">#{orderNo},  </if>
            <if test="renterOrderNo != null">#{renterOrderNo},  </if>
            <if test="driverId != null">#{driverId}, </if>
            <if test="realName != null">#{realName},  </if>
            <if test="phone != null">#{phone},  </if>
            <if test="isUse != null">#{isUse},  </if>
            <if test="createTime != null">#{createTime},  </if>
            <if test="createOp != null">#{createOp},  </if>
            <if test="updateTime != null">#{updateTime},  </if>
            <if test="updateOp != null">#{updateOp},  </if>
            <if test="isDelete != null">#{isDelete} </if>
        </trim>
	</insert>
	
	 
	<update id="updateByPrimaryKeySelective" parameterType="com.atzuche.order.renterorder.entity.RenterAdditionalDriverEntity">
		update renter_additional_driver 
		    <set>
				<if test="orderNo != null">`order_no` = #{orderNo}, </if>
				<if test="renterOrderNo != null">`renter_order_no` = #{renterOrderNo}, </if>
                <if test="driverId != null">`driver_id` = #{driverId}, </if>
				<if test="realName != null">`real_name` = #{realName}, </if>
				<if test="phone != null">`phone` = #{phone}, </if>
				<if test="isUse != null">`is_use` = #{isUse}, </if>
				<if test="createTime != null">`create_time` = #{createTime}, </if>
				<if test="createOp != null">`create_op` = #{createOp}, </if>
				<if test="updateTime != null">`update_time` = #{updateTime}, </if>
				<if test="updateOp != null">`update_op` = #{updateOp}, </if>
				<if test="isDelete != null">`is_delete` = #{isDelete}</if>
			</set>
		where id = #{id}
	</update>
	
	<update id="updateByPrimaryKey" parameterType="com.atzuche.order.renterorder.entity.RenterAdditionalDriverEntity">
		update renter_additional_driver 
		    <set>
				`order_no` = #{orderNo}, 		
				`renter_order_no` = #{renterOrderNo},
                `driver_id` = #{driverId},
				`real_name` = #{realName}, 		
				`phone` = #{phone}, 		
				`is_use` = #{isUse}, 		
				`create_time` = #{createTime}, 		
				`create_op` = #{createOp}, 		
				`update_time` = #{updateTime}, 		
				`update_op` = #{updateOp}, 		
				`is_delete` = #{isDelete}		
		    </set>
		where id = #{id}
	</update>
  	
  	<select id="listDriverIdByRenterOrderNo" resultType="String">
		select driver_id from renter_additional_driver where renter_order_no = #{renterOrderNo}
		and is_delete = 0
	</select>
  	
</mapper>