<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.atzuche.config.server.mapper.second.HolidaySettingMapper">
    <resultMap id="base" type="com.atzuche.config.common.entity.HolidaySettingEntity">
        <id property="id" column="id"/>
         <result column="name" property="name"></result>
         <result column="type" property="type"></result>
         <result column="title" property="title"></result>
         <result column="url" property="url"></result>
         <result column="description" property="description"></result>
         <result column="legal_start_date" property="legalStartDate"></result>
         <result column="legal_end_date" property="legalEndDate"></result>
         <result column="real_start_date" property="realStartDate"></result>
         <result column="real_end_date" property="realEndDate"></result>
         <result column="circle" property="circle"></result>
         <result column="priority" property="priority"></result>
         <result column="is_show" property="isShow"></result>
         <result column="default_value" property="defaultValue"></result>
         <result column="min_rent_time" property="minRentTime"></result>
         <result column="first_city_package_min_rent" property="firstCityPackageMinRent"></result>
         <result column="other_city_package_min_rent" property="otherCityPackageMinRent"></result>
    </resultMap>



    <select id="findAll" resultMap="base">
        SELECT
        id,
        name,
        type,
        title,
        url,
        description,
        legal_start_date,
        legal_end_date,
        real_start_date,
        real_end_date,
        circle,
        priority,
        is_show,
        default_value,
        min_rent_time,
        first_city_package_min_rent,
        other_city_package_min_rent
        FROM holiday_setting
    </select>
</mapper>