<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.atzuche.order.accountownercost.mapper.AccountOwnerCostSettleMapper">

    <resultMap type="com.atzuche.order.accountownercost.entity.AccountOwnerCostSettleEntity" id="BaseResultMap">
        <result property="id" column="id"/>
        <result property="memNo" column="mem_no"/>
        <result property="orderNo" column="order_no"/>
        <result property="ownerOrderNo" column="owner_order_no"/>
        <result property="subsidyAmt" column="subsidy_amt"/>
        <result property="purchaseAmt" column="purchase_amt"/>
        <result property="incrementAmt" column="increment_amt"/>
        <result property="yingshouAmt" column="yingshou_amt"/>
        <result property="shishouAmt" column="shishou_amt"/>
        <result property="version" column="version"/>
        <result property="createTime" column="create_time"/>
        <result property="createOp" column="create_op"/>
        <result property="updateTime" column="update_time"/>
        <result property="updateOp" column="update_op"/>
        <result property="isDelete" column="is_delete"/>
    </resultMap>


	<sql id="Base_Column_List">
	`id`, 	
	`mem_no`, 	
	`order_no`, 	
	`owner_order_no`, 	
	`subsidy_amt`, 	
	`purchase_amt`, 	
	`increment_amt`, 	
	`yingshou_amt`, 	
	`shishou_amt`, 	
	`version`, 	
	`create_time`, 	
	`create_op`, 	
	`update_time`, 	
	`update_op`, 	
	`is_delete`	

	</sql>

	<select id="selectByPrimaryKey" resultMap="BaseResultMap">
		select <include refid="Base_Column_List" /> from account_owner_cost_settle where id = #{value}
	</select>

	<insert id="insert" parameterType="com.atzuche.order.accountownercost.entity.AccountOwnerCostSettleEntity" useGeneratedKeys="true" keyProperty="id">
		insert into account_owner_cost_settle
		(
				`mem_no`,		
				`order_no`,		
				`owner_order_no`,		
				`subsidy_amt`,		
				`purchase_amt`,		
				`increment_amt`,		
				`yingshou_amt`,		
				`shishou_amt`,		
				`version`,		
				`create_time`,		
				`create_op`,		
				`update_time`,		
				`update_op`,		
				`is_delete`		
			)
		values
		(
				#{memNo}, 		
				#{orderNo}, 		
				#{ownerOrderNo}, 		
				#{subsidyAmt}, 		
				#{purchaseAmt}, 		
				#{incrementAmt}, 		
				#{yingshouAmt}, 		
				#{shishouAmt}, 		
				#{version}, 		
				#{createTime}, 		
				#{createOp}, 		
				#{updateTime}, 		
				#{updateOp}, 		
				#{isDelete}		
			)
	</insert>
	
</mapper>