<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.atzuche.order.accountownercost.mapper.AccountOwnerCostSettleDetailMapper">

    <resultMap type="com.atzuche.order.accountownercost.entity.AccountOwnerCostSettleDetailEntity" id="BaseResultMap">
        <result property="id" column="id"/>
        <result property="orderNo" column="order_no"/>
        <result property="ownerOrderNo" column="owner_order_no"/>
        <result property="memNo" column="mem_no"/>
        <result property="amt" column="amt"/>
        <result property="sourceCode" column="source_code"/>
        <result property="sourceDetail" column="source_detail"/>
        <result property="uniqueNo" column="unique_no"/>
        <result property="costType" column="cost_type"/>
        <result property="createTime" column="create_time"/>
        <result property="createOp" column="create_op"/>
        <result property="updateTime" column="update_time"/>
        <result property="updateOp" column="update_op"/>
        <result property="isDelete" column="is_delete"/>
    </resultMap>


	<sql id="Base_Column_List">
	`id`, 	
	`order_no`, 	
	`owner_order_no`, 	
	`mem_no`, 	
	`amt`, 	
	`source_code`, 	
	`source_detail`, 	
	`unique_no`, 	
	`cost_type`, 	
	`create_time`, 	
	`create_op`, 	
	`update_time`, 	
	`update_op`, 	
	`is_delete`	

	</sql>


	<select id="selectByPrimaryKey" resultMap="BaseResultMap">
		select <include refid="Base_Column_List" /> from account_owner_cost_settle_detail where id = #{value}
	</select>

	<insert id="insert" parameterType="com.atzuche.order.accountownercost.entity.AccountOwnerCostSettleDetailEntity" useGeneratedKeys="true" keyProperty="id">
		insert into account_owner_cost_settle_detail
		(
				`order_no`,		
				`owner_order_no`,		
				`mem_no`,		
				`amt`,		
				`source_code`,		
				`source_detail`,		
				`unique_no`,		
				`cost_type`,		
				`create_time`,		
				`create_op`,		
				`update_time`,		
				`update_op`,		
				`is_delete`		
			)
		values
		(
				#{orderNo}, 		
				#{ownerOrderNo}, 		
				#{memNo}, 		
				#{amt}, 		
				#{sourceCode}, 		
				#{sourceDetail}, 		
				#{uniqueNo}, 		
				#{costType}, 		
				#{createTime}, 		
				#{createOp}, 		
				#{updateTime}, 		
				#{updateOp}, 		
				#{isDelete}		
			)
	</insert>
	

</mapper>