<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.atzuche.order.admin.mapper.remark.OrderRemarkMapper">

    <resultMap id="orderRemarkOverviewMap" type="com.atzuche.order.admin.entity.OrderRemarkOverviewEntity" >
        <result property="remarkType" column="remark_type"/>
        <result property="typeCount" column="typeCount"/>
    </resultMap>

	<resultMap id="orderRemarkInformationMap" type="com.atzuche.order.admin.entity.OrderRemarkEntity" >
		<result property="remarkType" column="remark_type"/>
		<result property="orderNo" column="order_no"/>
		<result property="remarkContent" column="remark"/>
		<result property="departmentId" column="dept_id"/>
		<result property="remarkId" column="id"/>
		<result property="number" column="number"/>
		<result property="updateOp" column="update_op"/>
		<result property="createTime" column="create_time"/>
		<result property="updateTime" column="update_time"/>
		<result property="limitDelayed" column="limit_delayed"/>
		<result property="followStatus" column="follow_status"/>
		<result property="followFailReason" column="follow_fail_reason"/>
	</resultMap>

    <select id="getOrderRemarkOverview" resultMap="orderRemarkOverviewMap">
        SELECT remark_type, COUNT(*) AS typeCount FROM order_remark where order_no = #{orderNo} and remark_type!=12 GROUP BY remark_type
    </select>

    <insert id="addOrderRemark" parameterType="com.atzuche.order.admin.entity.OrderRemarkEntity" useGeneratedKeys="true" keyProperty="remarkId">
        insert into order_remark
		(
			`order_no`,
			`number`,
			`remark_type`,
			`remark`,
			`limit_delayed`,
			`follow_status`,
			`follow_fail_reason`,
			`create_time`,
			`create_op`,
			`update_time`,
			`update_op`,
			`dept_id`
		)
		values
		(
			#{orderNo},
			#{number},
			#{remarkType},
			#{remarkContent},
			#{limitDelayed},
			#{followStatus},
			#{followFailReason},
			#{createTime},
			#{createOp},
			#{updateTime},
			#{updateOp},
			#{departmentId}
		)
    </insert>

	<select id="getRemarkNumber" resultType="String">
		SELECT IFNULL(MAX(number)+1,1) FROM order_remark WHERE order_no = #{orderNo}
	</select>


	<select id="getOrderRemarkInformation" resultMap="orderRemarkInformationMap">
		SELECT id, order_no, dept_id, remark, remark_type, limit_delayed, follow_status, follow_fail_reason, number FROM order_remark where id = #{remarkId}
	</select>


	<select id="getOrderCarServiceRemarkInformation" resultMap="orderRemarkInformationMap">
		SELECT  remark  FROM order_remark where remark_type = 12 and order_no = #{orderNo} ORDER BY id DESC  limit 1
	</select>


	<update id="updateRemarkById" parameterType="com.atzuche.order.admin.entity.OrderRemarkEntity">
		update order_remark
		<set>
			<if test="departmentId != null">`dept_id` = #{departmentId}, </if>
			<if test="remarkType != null">`remark_type` = #{remarkType}, </if>
			<if test="remarkContent != null">`remark` = #{remarkContent}, </if>
			<if test="updateOp != null">`update_op` = #{updateOp}, </if>
			<if test="limitDelayed != null">`limit_delayed` = #{limitDelayed}, </if>
			<if test="followStatus != null">`follow_status` = #{followStatus}, </if>
			<if test="followFailReason != null">`follow_fail_reason` = #{followFailReason}, </if>
			<if test="isDelete != null">`is_delete` = #{isDelete}</if>

		</set>
		where id = #{remarkId}
	</update>


	<select id="selectRemarkList" resultMap="orderRemarkInformationMap">
		select id,
		`number`,
		remark_type,
		remark,
		update_op,
		create_time,
		update_time,
		limit_delayed,
		follow_status,
		follow_fail_reason,
		dept_id
		from order_remark where order_no = #{orderNo} and is_delete = 0
		<if test="departmentId != null and departmentId != ''">
			and dept_id = #{departmentId}
		</if>
		<if test="remarkType != null">
			and remark_type = #{remarkType}
		</if>
		<if test="operatorName != null and operatorName != ''">
			and update_op = #{operatorName}
		</if>
		<if test="startTime != null and startTime !=''">
			AND date_format(create_time,'%Y%m%d') <![CDATA[>=]]> date_format(#{startTime},'%Y%m%d')
		</if>
		<if test="endTime != null and endTime != ''">
			AND date_format(create_time,'%Y%m%d') <![CDATA[<=]]> date_format(#{endTime},'%Y%m%d')
		</if>
		order by id desc
	</select>


  	
</mapper>