<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.atzuche.order.admin.mapper.remark.OrderRemarkLogMapper">



	<resultMap id="orderRemarkLogInformationMap" type="com.atzuche.order.admin.entity.OrderRemarkLogEntity" >
		<result property="remarkType" column="remark_type"/>
		<result property="remarkContent" column="remark"/>
		<result property="remarkHistory" column="remark_history"/>
		<result property="operateType" column="operate_type"/>
		<result property="departmentId" column="dept_id"/>
		<result property="number" column="number"/>
		<result property="createOp" column="create_op"/>
		<result property="createTime" column="create_time"/>
	</resultMap>


    <insert id="addOrderRemarkLog" parameterType="com.atzuche.order.admin.entity.OrderRemarkLogEntity">
        insert into order_remark_log
		(
			`order_no`,
			`remark_id`,
			`number`,
			`remark_type`,
			`remark`,
			`remark_history`,
			`limit_delayed`,
			`follow_status`,
			`follow_fail_reason`,
			`create_time`,
			`create_op`,
			`operate_type`,
			`update_time`,
			`update_op`,
			`dept_id`
		)
		values
		(
			#{orderNo},
			#{remarkId},
			#{number},
			#{remarkType},
			#{remarkContent},
			#{remarkHistory},
			#{limitDelayed},
			#{followStatus},
			#{followFailReason},
			#{createTime},
			#{createOp},
			#{operateType},
			#{updateTime},
			#{updateOp},
			#{departmentId}
		)
    </insert>



	<select id="selectRemarkLogListCount" resultType="long">
		select count(*) from order_remark_log where order_no = #{orderNo}
	</select>

	<select id="selectRemarkLogList" resultMap="orderRemarkLogInformationMap">
		select
		`number`,
		remark_type,
		remark,
		create_time,
		create_op,
		dept_id,
		operate_type,
		remark_history
		from order_remark_log where order_no = #{orderNo}
		order by id desc LIMIT #{startIndex}, #{pageSize}
	</select>



  	
</mapper>