<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.atzuche.order.accountrenterstopcost.mapper.AccountRenterStopCostSettleMapper">

    <resultMap type="com.atzuche.order.accountrenterstopcost.entity.AccountRenterStopCostSettleEntity" id="BaseResultMap">
        <result property="id" column="id"/>
        <result property="memNo" column="mem_no"/>
        <result property="yingfuAmt" column="yingfu_amt"/>
        <result property="shifuAmt" column="shifu_amt"/>
        <result property="amt" column="amt"/>
        <result property="settleStatus" column="settle_status"/>
        <result property="version" column="version"/>
        <result property="updateTime" column="update_time"/>
        <result property="createTime" column="create_time"/>
        <result property="isDelete" column="is_delete"/>
        <result property="updateOp" column="update_op"/>
        <result property="createOp" column="create_op"/>
    </resultMap>


	<sql id="Base_Column_List">
	`id`, 	
	`mem_no`, 	
	`yingfu_amt`, 	
	`shifu_amt`, 	
	`amt`, 	
	`settle_status`, 	
	`version`, 	
	`update_time`, 	
	`create_time`, 	
	`is_delete`, 	
	`update_op`, 	
	`create_op`	

	</sql>


	<select id="selectByPrimaryKey" resultMap="BaseResultMap">
		select <include refid="Base_Column_List" /> from account_renter_stop_cost_settle where id = #{value}
	</select>
	<insert id="insert" parameterType="com.atzuche.order.accountrenterstopcost.entity.AccountRenterStopCostSettleEntity" useGeneratedKeys="true" keyProperty="id">
		insert into account_renter_stop_cost_settle
		(
				`mem_no`,		
				`yingfu_amt`,		
				`shifu_amt`,		
				`amt`,		
				`settle_status`,		
				`version`,		
				`update_time`,		
				`create_time`,		
				`is_delete`,		
				`update_op`,		
				`create_op`		
			)
		values
		(
				#{memNo}, 		
				#{yingfuAmt}, 		
				#{shifuAmt}, 		
				#{amt}, 		
				#{settleStatus}, 		
				#{version}, 		
				#{updateTime}, 		
				#{createTime}, 		
				#{isDelete}, 		
				#{updateOp}, 		
				#{createOp}		
			)
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="com.atzuche.order.accountrenterstopcost.entity.AccountRenterStopCostSettleEntity">
		update account_renter_stop_cost_settle 
		<set>
				<if test="memNo != null">`mem_no` = #{memNo}, </if>
				<if test="yingfuAmt != null">`yingfu_amt` = #{yingfuAmt}, </if>
				<if test="shifuAmt != null">`shifu_amt` = #{shifuAmt}, </if>
				<if test="amt != null">`amt` = #{amt}, </if>
				<if test="settleStatus != null">`settle_status` = #{settleStatus}, </if>
				version = version + 1,
				<if test="updateTime != null">`update_time` = #{updateTime}, </if>
				<if test="createTime != null">`create_time` = #{createTime}, </if>
				<if test="isDelete != null">`is_delete` = #{isDelete}, </if>
				<if test="updateOp != null">`update_op` = #{updateOp}, </if>
				<if test="createOp != null">`create_op` = #{createOp}</if>
			</set>
		where id = #{id} and version = #{version}
	</update>

    <select id="getRenterStopCostAmt" resultMap="BaseResultMap">
        select <include refid="Base_Column_List" /> from account_renter_stop_cost_settle where mem_no = #{memNo} limit 1
    </select>

</mapper>