<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.atzuche.order.accountrenterrentcost.mapper.AccountRenterCostSettleDetailMapper">

    <resultMap type="com.atzuche.order.accountrenterrentcost.entity.AccountRenterCostSettleDetailEntity" id="BaseResultMap">
        <result property="id" column="id"/>
        <result property="orderNo" column="order_no"/>
        <result property="renterOrderNo" column="renter_order_no"/>
        <result property="memNo" column="mem_no"/>
        <result property="amt" column="amt"/>
        <result property="costCode" column="cost_code"/>
        <result property="costDetail" column="cost_detail"/>
        <result property="uniqueNo" column="unique_no"/>
        <result property="type" column="type"/>
        <result property="createTime" column="create_time"/>
        <result property="createOp" column="create_op"/>
        <result property="updateTime" column="update_time"/>
        <result property="updateOp" column="update_op"/>
        <result property="isDelete" column="is_delete"/>
    </resultMap>


	<sql id="Base_Column_List">
	`id`, 	
	`order_no`, 	
	`renter_order_no`, 	
	`mem_no`, 	
	`amt`, 	
	`cost_code`, 	
	`cost_detail`, 	
	`unique_no`, 	
	`type`, 	
	`create_time`, 	
	`create_op`, 	
	`update_time`, 	
	`update_op`, 	
	`is_delete`	

	</sql>


	<select id="selectByPrimaryKey" resultMap="BaseResultMap">
		select <include refid="Base_Column_List" /> from account_renter_cost_settle_detail where id = #{value}
	</select>

	<insert id="insert" parameterType="com.atzuche.order.accountrenterrentcost.entity.AccountRenterCostSettleDetailEntity">
		insert into account_renter_cost_settle_detail
		(
			`id`,		
				`order_no`,		
				`renter_order_no`,		
				`mem_no`,		
				`amt`,		
				`cost_code`,		
				`cost_detail`,		
				`unique_no`,		
				`type`,		
				`create_time`,		
				`create_op`,		
				`update_time`,		
				`update_op`,		
				`is_delete`		
			)
		values
		(
			#{id}, 		
				#{orderNo}, 		
				#{renterOrderNo}, 		
				#{memNo}, 		
				#{amt}, 		
				#{costCode}, 		
				#{costDetail}, 		
				#{uniqueNo}, 		
				#{type}, 		
				#{createTime}, 		
				#{createOp}, 		
				#{updateTime}, 		
				#{updateOp}, 		
				#{isDelete}		
			)
	</insert>
	
	<insert id="insertSelective" parameterType="com.atzuche.order.accountrenterrentcost.entity.AccountRenterCostSettleDetailEntity">
		insert into account_renter_cost_settle_detail
		(
			<if test="id != null">`id`, </if>
				<if test="orderNo != null">`order_no`, </if>
				<if test="renterOrderNo != null">`renter_order_no`, </if>
				<if test="memNo != null">`mem_no`, </if>
				<if test="amt != null">`amt`, </if>
				<if test="costCode != null">`cost_code`, </if>
				<if test="costDetail != null">`cost_detail`, </if>
				<if test="uniqueNo != null">`unique_no`, </if>
				<if test="type != null">`type`, </if>
				<if test="createTime != null">`create_time`, </if>
				<if test="createOp != null">`create_op`, </if>
				<if test="updateTime != null">`update_time`, </if>
				<if test="updateOp != null">`update_op`, </if>
				<if test="isDelete != null">`is_delete` </if>
			)
		values
		(
			<if test="id != null">#{id},  </if>
				<if test="orderNo != null">#{orderNo},  </if>
				<if test="renterOrderNo != null">#{renterOrderNo},  </if>
				<if test="memNo != null">#{memNo},  </if>
				<if test="amt != null">#{amt},  </if>
				<if test="costCode != null">#{costCode},  </if>
				<if test="costDetail != null">#{costDetail},  </if>
				<if test="uniqueNo != null">#{uniqueNo},  </if>
				<if test="type != null">#{type},  </if>
				<if test="createTime != null">#{createTime},  </if>
				<if test="createOp != null">#{createOp},  </if>
				<if test="updateTime != null">#{updateTime},  </if>
				<if test="updateOp != null">#{updateOp},  </if>
				<if test="isDelete != null">#{isDelete} </if>
			)
	</insert>
	
	 
	<update id="updateByPrimaryKeySelective" parameterType="com.atzuche.order.accountrenterrentcost.entity.AccountRenterCostSettleDetailEntity">
		update account_renter_cost_settle_detail 
		<set>
				<if test="orderNo != null">`order_no` = #{orderNo}, </if>
				<if test="renterOrderNo != null">`renter_order_no` = #{renterOrderNo}, </if>
				<if test="memNo != null">`mem_no` = #{memNo}, </if>
				<if test="amt != null">`amt` = #{amt}, </if>
				<if test="costCode != null">`cost_code` = #{costCode}, </if>
				<if test="costDetail != null">`cost_detail` = #{costDetail}, </if>
				<if test="uniqueNo != null">`unique_no` = #{uniqueNo}, </if>
				<if test="type != null">`type` = #{type}, </if>
				<if test="createTime != null">`create_time` = #{createTime}, </if>
				<if test="createOp != null">`create_op` = #{createOp}, </if>
				<if test="updateTime != null">`update_time` = #{updateTime}, </if>
				<if test="updateOp != null">`update_op` = #{updateOp}, </if>
				<if test="isDelete != null">`is_delete` = #{isDelete}</if>
			</set>
		where id = #{id}
	</update>
	
	<update id="updateByPrimaryKey" parameterType="com.atzuche.order.accountrenterrentcost.entity.AccountRenterCostSettleDetailEntity">
		update account_renter_cost_settle_detail 
		<set>
				`order_no` = #{orderNo}, 		
				`renter_order_no` = #{renterOrderNo}, 		
				`mem_no` = #{memNo}, 		
				`amt` = #{amt}, 		
				`cost_code` = #{costCode}, 		
				`cost_detail` = #{costDetail}, 		
				`unique_no` = #{uniqueNo}, 		
				`type` = #{type}, 		
				`create_time` = #{createTime}, 		
				`create_op` = #{createOp}, 		
				`update_time` = #{updateTime}, 		
				`update_op` = #{updateOp}, 		
				`is_delete` = #{isDelete}		
	
		</set>
		where id = #{id}
	</update>
  	
</mapper>